@font-face {
  font-family: 'Avenir-Black';
  src: url('Avenir-Black.eot');
  src: url('Avenir-Black.woff') format('woff'),
       url('Avenir-Black.ttf') format('truetype'),
       url('Avenir-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-BlackOblique';
  src: url('Avenir-BlackOblique.eot');
  src: url('Avenir-BlackOblique.woff') format('woff'),
       url('Avenir-BlackOblique.ttf') format('truetype'),
       url('Avenir-BlackOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('Avenir-Book.eot');
  src: url('Avenir-Book.woff') format('woff'),
       url('Avenir-Book.ttf') format('truetype'),
       url('Avenir-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-BookOblique';
  src: url('Avenir-BookOblique.eot');
  src: url('Avenir-BookOblique.woff') format('woff'),
       url('Avenir-BookOblique.ttf') format('truetype'),
       url('Avenir-BookOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('Avenir-Heavy.eot');
  src: url('Avenir-Heavy.woff') format('woff'),
       url('Avenir-Heavy.ttf') format('truetype'),
       url('Avenir-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-HeavyOblique';
  src: url('Avenir-HeavyOblique.eot');
  src: url('Avenir-HeavyOblique.woff') format('woff'),
       url('Avenir-HeavyOblique.ttf') format('truetype'),
       url('Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('Avenir-Light.eot');
  src: url('Avenir-Light.woff') format('woff'),
       url('Avenir-Light.ttf') format('truetype'),
       url('Avenir-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-LightOblique';
  src: url('Avenir-LightOblique.eot');
  src: url('Avenir-LightOblique.woff') format('woff'),
       url('Avenir-LightOblique.ttf') format('truetype'),
       url('Avenir-LightOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('Avenir-Medium.eot');
  src: url('Avenir-Medium.woff') format('woff'),
       url('Avenir-Medium.ttf') format('truetype'),
       url('Avenir-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-MediumOblique';
  src: url('Avenir-MediumOblique.eot');
  src: url('Avenir-MediumOblique.woff') format('woff'),
       url('Avenir-MediumOblique.ttf') format('truetype'),
       url('Avenir-MediumOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Oblique';
  src: url('Avenir-Oblique.eot');
  src: url('Avenir-Oblique.woff') format('woff'),
       url('Avenir-Oblique.ttf') format('truetype'),
       url('Avenir-Oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('Avenir-Roman.eot');
  src: url('Avenir-Roman.woff') format('woff'),
       url('Avenir-Roman.ttf') format('truetype'),
       url('Avenir-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

