@import "../../variables";

.menu-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .menu {
      .full-width-sm {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        padding-left: 20%;
        padding-right: 20%;

        @media (min-width: $screen-phone) {
          padding-left: 10%;
          padding-right: 10%;
        }

        ul {
          li {
            list-style: none;
            
            p {
              font-size: 16pt;
            }
          }
        }
      }
    }
  }
}