@import "../../sass/variables/variables";

social-share {
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: $coen-social-background;

  .social-wrapper {
    width: 100%;
    padding: 5px 30px;
    text-align: left;

    @media (max-width: $screen-phone) {
      text-align: center;
    }

    div {
      display: inline-block;
    }

    .share-title {

      @media (max-width: $screen-tablet) {
        display: none;
      }

      h3 {
        margin: 14px 0px;
        font-size: 15pt;
      }
    }
  }
}

