//
// Coen Variables
// --------------------------------------------------

$base-url: "../";

// Constants
// -------------------------
$middle-bullet: 11;
$num-bullets: 21;

$coen-button-border-radius: 25px;
$coen-question-border-radius: 12px;

$coen-icon-size-big: 65px;
$coen-icon-size-small: 48px;
$coen-icon-size-mini: 25px;

// Typography
// -------------------------
$font-type-arial: Arial, sans-serif;
$font-type-montserrat: Montserrat, sans-serif;

// Nunito
$font-type-nunito: Nunito, sans-serif;
$font-type-nunito-black: Nunito-Black, sans-serif;
$font-type-nunito-black-oblique: Nunito-BlackOblique, sans-serif;
$font-type-nunito-roman: Nunito-Roman, sans-serif;
$font-type-nunito-light: Nunito-Light, sans-serif;

// Avenir
$font-type-avenir-black: Avenir-Black, sans-serif;
$font-type-avenir-black-oblique: Avenir-BlackOblique, sans-serif;
$font-type-avenir-roman: Avenir-Roman, sans-serif;
$font-type-avenir-light: Avenir-Light, sans-serif;
$font-type-avenir: $font-type-avenir-black;

// Buttons
// -------------------------
$btn-font-weight: 300;
$btn-font: $font-type-avenir-roman;
$btn-font-color: #FFF;

//
// Variables
// --------------------------------------------------
$coen-font: $font-type-avenir;
$coen-font-black: $font-type-avenir-black;
$coen-font-black-oblique: $font-type-avenir-black-oblique;
$coen-font-roman: $font-type-avenir-roman;
$coen-font-light: $font-type-avenir-light;

$coen-logo: "../../assets/img/logos/spov/spov-logo.svg";
$coen-logo-svg: "../../assets/img/logos/spov/spov-logo.svg";
$coen-logo-home: "../../assets/img/logos/spov/spov-app-icon-home.png";
$coen-home-cloud: "../../assets/img/logos/spov/BeeldmerkToekomstSPOV.svg";
$coen-flower: "../../assets/img/logos/spov/Bloemetje.png";

// Colors SPOF
// -------------------------
$spov-green: #004D1D;
$spov-orange: #E67402;
$spov-grey: #C4D4C9;
$spov-background-green: #93BF1F;
$spov-background-orange: #F8B133;

$coen-red: red;
$coen-red-logo: $spov-orange;
$coen-red-banner: $spov-orange;
$coen-lightred: $spov-grey;
$coen-darkred: $spov-orange;
$coen-link: $spov-grey;
$coen-green: $spov-green;

$coen-darkgrey: #191919;
$coen-grey: $spov-grey;
$coen-lightgrey: #F2F2F2;
$coen-white: #ffffff;
$coen-broken-white: #fafafa;
$coen-black: #000000;
$coen-background-alpha: rgba(237, 241, 246, 0.10);
$coen-background-alpha-disabled: rgba(0, 0, 0, 0.22);
$coen-background-alpha-text: rgba(237, 241, 246, 0.9);
$coen-background-alpha-none: rgba(255, 255, 255, 0);

$coen-background: $spov-background-green;
$coen-home-background: $spov-background-green;
$coen-home-footer-background: $coen-white;
$coen-header-background: $coen-white;
$coen-footer-background: $coen-broken-white;
$coen-social-background: $coen-white;

$coen-icon-social-color: $coen-black;
$coen-icon-background: $coen-black;
$coen-icon-color: $coen-black;
$coen-icon-color-disabled: $coen-background-alpha-disabled;

$coen-nav-background: $coen-background-alpha-none;
$coen-bullet-bar: $coen-white;
$coen-bullet-selected: $coen-white;
$coen-bullet-selected-border: $spov-grey;

$coen-text-color: $coen-black;
$coen-text-home-color: $coen-black;
$coen-text-statement-color: $coen-black;
$coen-text-icon-color: $coen-black;
$coen-text-icon-color-active: $coen-white;
$coen-text-icon-home-color: $coen-white;

$coen-percentage: $coen-white;
$coen-percentage-background: $coen-white;
$coen-text-percentage-color: $coen-black;

$coen-popup-background: $coen-background-alpha-text;
$coen-popup-text-color: $coen-black;

$coen-question-background: $coen-background-alpha-none;
$coen-answer-background: $coen-white;
$coen-answer-background-selected: $coen-background-alpha-text;
$coen-answer-text: $coen-black;
$coen-answer-text-selected: $coen-black;

$coen-chart-color: $spov-orange;
$coen-chart-color-back: $coen-white;

// Media queries breakpoints
// --------------------------------------------------

// Mini screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xxs: 320px;
$screen-xxs-min: $screen-xxs;
$screen-mini: $screen-xxs-min;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Mixins
// --------------------------------------------------
@mixin coen-border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin coen-transition($prop, $delay) {
  -webkit-transition: $prop $delay; /* For Safari 3.1 to 6.0 */
  -moz-transition: $prop $delay; /* Mozilla */
  -o-transition: $prop $delay; /* Opera */
  transition: $prop $delay;
}

@mixin coen-gradient($startColor: #eee, $endColor: white) {
  background-color: $startColor;
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
}

// Generate the small columns
@mixin make-sm-column($columns, $grid-columns: 12, $gutter: 0, $grid-gutter-width: 0) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  width: percentage(($columns / $grid-columns));

  @media (min-width: $screen-sm-min) {
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the medium columns
@mixin make-md-column($columns, $grid-columns: 12, $gutter: 0, $grid-gutter-width: 0) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Drop shadows
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin linear-background($color1, $color2) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $color1, $color2); /* Standard syntax */
}