@font-face {
  font-family: 'Avenir-Black';
  src: url('../../assets/fonts/Avenir/Avenir-Black.eot');
  src: url('../../assets/fonts/Avenir/Avenir-Black.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-Black.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-BlackOblique';
  src: url('../../assets/fonts/Avenir/Avenir-BlackOblique.eot');
  src: url('../../assets/fonts/Avenir/Avenir-BlackOblique.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-BlackOblique.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../../assets/fonts/Avenir/Avenir-Book.eot');
  src: url('../../assets/fonts/Avenir/Avenir-Book.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-Book.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-BookOblique';
  src: url('../../assets/fonts/Avenir/Avenir-BookOblique.eot');
  src: url('../../assets/fonts/Avenir/Avenir-BookOblique.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-BookOblique.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-BookOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../../assets/fonts/Avenir/Avenir-Heavy.eot');
  src: url('../../assets/fonts/Avenir/Avenir-Heavy.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-Heavy.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-HeavyOblique';
  src: url('../../assets/fonts/Avenir/Avenir-HeavyOblique.eot');
  src: url('../../assets/fonts/Avenir/Avenir-HeavyOblique.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-HeavyOblique.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('../../assets/fonts/Avenir/Avenir-Light.eot');
  src: url('../../assets/fonts/Avenir/Avenir-Light.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-Light.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-LightOblique';
  src: url('../../assets/fonts/Avenir/Avenir-LightOblique.eot');
  src: url('../../assets/fonts/Avenir/Avenir-LightOblique.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-LightOblique.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-LightOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../../assets/fonts/Avenir/Avenir-Medium.eot');
  src: url('../../assets/fonts/Avenir/Avenir-Medium.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-Medium.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-MediumOblique';
  src: url('../../assets/fonts/Avenir/Avenir-MediumOblique.eot');
  src: url('../../assets/fonts/Avenir/Avenir-MediumOblique.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-MediumOblique.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Oblique';
  src: url('../../assets/fonts/Avenir/Avenir-Oblique.eot');
  src: url('../../assets/fonts/Avenir/Avenir-Oblique.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-Oblique.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-Oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('../../assets/fonts/Avenir/Avenir-Roman.eot');
  src: url('../../assets/fonts/Avenir/Avenir-Roman.woff') format('woff'),
  url('../../assets/fonts/Avenir/Avenir-Roman.ttf') format('truetype'),
  url('../../assets/fonts/Avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



