@import "../../sass/variables/variables";

.result-bars {
  display: block;

  @media screen and (max-width: $screen-tablet) {
    display: none;
  }

  &.mobile {
    display: none;

    @media screen and (max-width: $screen-tablet) {
      display: block;
    }
  }
}

.result-bars-container {
  height: 380px;
  width: 100%;
  padding: 20px 50px;
  margin-left: 410px;
  box-sizing: border-box;

  @media screen and (max-width: $screen-tablet) {
    padding: 10px 20px;
    margin: 0 auto;
  }

  .result-bar {
    //    transition: height 0.5s;
    float: left;

    .total {
      position: absolute;
      bottom: 0px;
      margin: 0px 5px;
      background-color: $coen-chart-color-back;
    }

    .percentage {
      position: absolute;
      bottom: 0px;
      left: 0px;
      top: 0px;
      right: 0px;
      margin: 0px 5px;
      background-color: $coen-chart-color;

      @media screen and (max-width: $screen-tablet) {
        display: none;
      }

      &.mobile {
        display: none;

        @media screen and (max-width: $screen-tablet) {
          display: block;
        }
      }
    }

    p {
      color: $coen-darkgrey;
      font-size: 15pt;
      text-transform: uppercase;
      font-weight: 600;
      padding: 8px 22px;
      text-align: left;
      width: 100%;

      @media screen and (max-width: $screen-tablet) {
        position: absolute;
        top: 6px;
        font-size: 12pt;
      }

      @media screen and (max-width: $screen-mini) {
        font-size: 10pt;
      }

      @media screen and (min-width: $screen-tablet) {
        width: 380px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: -11%;
        font-size: 13pt;
      }

      @media screen and (min-width: $screen-desktop) {
        top: -44px;
        font-size: 15pt;
      }

      @media screen and (min-width: $screen-lg-desktop) {
        top: -54px;
        font-size: 15pt;
      }
    }

    @media screen and (max-width: $screen-tablet) {
      width: 100%;
      padding: 0px 0px 10px 0px;
      height: 40px;
      float: left;
      position: relative;

      .total {
        width: 100%;
        padding: 0px;
        height: 80%;
      }

      .percentage {
        padding: 0px;
        height: 80%;
        top: 8px;
      }
    }

    @media screen and (min-width: $screen-tablet) {
      width: 100%*(1/15);
      padding: 0px 5px;
      height: 100%;

      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
      -ms-transform-origin: left bottom 0;
      -webkit-transform-origin: left bottom 0;
      transform-origin: left bottom 0;

      .total {
        width: 60%;
        padding: 0px;
        height: 100%;

        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        -ms-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
      }

      .percentage {
        bottom: 88px;
        left: 5px;
        width: 60%;
        padding: 0px;

        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        -ms-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
      }
    }
  }
}
