@import "../../sass/variables/variables";

.popup-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  background-color: $coen-background-alpha;

  &.popup {
    background: none;
    bottom: auto;
  }

  .wrapper {
    width: 100%;

    .popup {
      margin: 0px auto;
      box-sizing: border-box;

      h1, h2, h3, p {
        color: $coen-darkgrey;
        margin: 10px 0px;
      }
    }

    .post-container {
      position: fixed;
      bottom: 172px;
      right: 72px;
      width: 68%;
      padding: 40px;
      background-color: $coen-white;
      text-align: left;
      //z-index: 9999;

      .btn-popup {
        position: absolute;
        right: 5px;
        top: 5px;
        margin: 5px;
      }

      @media (max-width: $screen-phone) {
        position: fixed;
        bottom: 140px;
        left: 0px;
        right: 0px;
        width: 100%;
      }

      .text {
        margin: 5px auto;

        h3 {
          color: $coen-red;
          margin: 0 auto;
        }

        .social-user {
          margin: 10px auto;

          .row {
            margin: 10px auto;
          }

          .image-container {
            position: absolute;

            img {
              position: relative;
              float: left;
              width: 30px;
              height: 30px;
            }
          }

          p {
            position: relative;
            float: left;
            background-color: $coen-red;
            color: $coen-white;
            font-size: 10pt;
            text-transform: none;
            padding: 6px 0px 5px 0px;
            margin: 0px auto;
            line-height: 1.4;
            width: 100%;

            &.image {
              padding: 6px 0px 5px 40px;
            }
          }

          span {
            position: relative;
            float: left;
            background: none;
            color: $coen-darkgrey;
            font-size: 11pt;
            text-transform: uppercase;
            padding: 0px 6px 0px 0px;
            margin: 0px auto;
            line-height: 1.4;
            width: 100%;

            &.image {
              padding: 0px 6px 0px 40px;
            }
          }

          textarea {
            background: none;
            color: $coen-darkgrey;
            font-size: 10pt;
            text-transform: none;
            padding: 5px 6px;
            margin: 10px auto;
            line-height: 1.4;
            height: 90px;
          }
        }
      }

      button {
        border: 1px solid $coen-red;
        margin: 0 auto;
        @include coen-border-radius(0px);

        span {
          color: $coen-red;
          margin: 0px;
          padding: 8px 2px;
          font-size: 12pt;
        }
      }
    }

  }
}