@import "../../variables";

.question-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .container {

      .full-width-sm {
        width: 100%;
        text-align: center;

        @media (min-width: $screen-tablet) {
          padding-left: 10%;
          padding-right: 10%;
        }

        @media (min-width: $screen-desktop) {
          padding-left: 15%;
          padding-right: 15%;
        }

        .row {
          float: left;
          width: 100%;
          margin-top: 10px;

          .question-type {
            input {
              margin: 8px 0px 8px 10px;
            }
          }

          p {
            &.save-feedback {
              font-size: 12pt;
              right: 10px;
            }
          }

          label {
            margin: 10px 10px 10px 0px;
          }

          .multiple-radio,
          .multiple-checkbox {
            float: left;
            margin: 0 auto;
            width: 100%;

            input[type="checkbox"] {
              float: left;
              width: 30px;
              margin-top: 20px;
            }

            input[type="radio"] {
              float: left;
              width: 30px;
              margin-top: 20px;
            }

            input[type="text"] {
              &.form-control {
                float: left;
                width: 80%;
              }
            }
          }

          #file_select {
            display: block !important;
            position: relative;
            float: left;
            max-width: 310px;
          }

          .image-container {
            position: relative;
            float: left;
            width: 100px;
            height: 100px;
            margin: 10px 10px 10px 0px;
            overflow: hidden;

            img {
              position: absolute;
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              width: 100%;
              height: 100%;
              margin: 0 auto;
              background-position: center center;
            }
          }

          .form-upload-container {
            position: relative;
            margin: 0px;

            input {
              color: $coen-white;
            }

            button {
              width: 150px;
              color: $coen-white;
              float: left;
            }

            .fileupload-progress {
              position: relative;
              float: left;
              margin: 10px auto;
            }

            ul {
              width: 60%;
              margin: 0;
              padding: 0;
              float: left;

              li {

              }
            }
          }
        }

        ul {
          list-style: none;

          li {
            float: left;
            width: 100%;
            margin: 0 auto;
            padding: 10px 20px;
            text-align: left;

            .icon-container {
              position: relative;
              float: left;

              .icon {
                float: left;
                margin: 3px;
              }
            }

            .statement-button {
              position: relative;
              float: left;
              width: 70%;
              margin: 8px 0 8px 30px;

              p {
                font-size: 14pt;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
}