<div class="question-container">
    <div class="wrapper clearfix">

        <div class="container">

            <div ng-show="!$ctrl.isLoading" class="full-width-sm">

                <div ng-show="!$ctrl.statement" class="row">
                    <h1>Vragen voor: {{ $ctrl.campaign.name }}</h1>
                    <ul>
                        <li ng-repeat="question in $ctrl.campaign.questions">
                            <div class="icon-container">
                                <icon-font  icon-class="icon-edit" ng-click="$ctrl.editStatement($index)"
                                    class="icon" title="Vraag bewerken"></icon-font>
                                <icon-font  icon-class="icon-delete" ng-click="$ctrl.deleteStatement($index)"
                                    class="icon" title="Vraag verwijderen"></icon-font>
                            </div>
                            <div ng-click="$ctrl.editStatement($index)" class="statement-button">
                                <p>{{ question.text }}</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div ng-show="$ctrl.statement" class="row">
                    <p ng-show="$ctrl.statement.id && $ctrl.statement.id != ''">Vraag bewerken</p>
                    <p ng-show="!$ctrl.statement.id">Vraag toevoegen</p>

                    <form name="statement-form" action="" ng-submit="$ctrl.submitForm($event)">
                        <fieldset>

                            <div class="row">
                                <label>Type:</label>
                                <label>
                                    <input ng-model="$ctrl.statement.type" type="radio" value="statement"/>Stelling
                                </label>
                                <label>
                                    <input ng-model="$ctrl.statement.type" type="radio" value="open"/>Open vraag
                                </label>
                                <label>
                                    <input ng-model="$ctrl.statement.type" type="radio" value="question"/>Gesloten vraag
                                </label>
                                <label>
                                    <input ng-model="$ctrl.statement.type" type="radio" value="multiple"/>Multiple choice
                                </label>
                                <label ng-show="false">
                                    <input ng-model="$ctrl.statement.type" type="radio" value="multiselect"/>Multiple options
                                </label>
                            </div>

                            <div class="row">
                                <label>Vraag:</label>
                                <input id="name" type="text" class="form-control" name="name"
                                    ng-model="$ctrl.statement.text" placeHolder="Stel een vraag"/>
                            </div>

                            <div class="row">
                                <label for="info">Uitleg:</label>
                                <textarea id="info" type="text" class="form-control" name="informatie"
                                    ng-model="$ctrl.statement.info" placeHolder="Geef uitleg over het antwoord"></textarea>

                                <label>Tonen als:</label>
                                <label>
                                    <input ng-model="$ctrl.statement.infoPopup" type="radio" ng-value="true"/>Informatie
                                </label>
                                <label>
                                    <input ng-model="$ctrl.statement.infoPopup" type="radio" ng-value="false"/>Uitleg na antwoord
                                </label>
                            </div>

                            <div class="row">
                                <label>Thema:</label>
                                <select id="theme" type="text" class="form-control" name="theme"
                                    ng-model="$ctrl.statement.topicId" placeHolder="Kies een thema">
                                    <option value="">Kies een thema</option>
                                    <option ng-repeat="theme in $ctrl.themes" value="{{theme.id}}">{{ theme.name }}</option>
                                </select>
                            </div>

                            <div ng-switch="$ctrl.statement.type" class="row">

                                <!-- question -->
                                <div ng-switch-when="question">
                                    <label>Kies het goede antwoord:</label>
                                    <div class="statement-radio">
                                        <label>
                                            <input ng-model="$ctrl.statement.correctChoice" type="radio" value="0"/>Goed
                                        </label>
                                        <label>
                                            <input ng-model="$ctrl.statement.correctChoice" type="radio" value="1"/>Fout
                                        </label>
                                    </div>
                                </div>

                                <!-- multiple -->
                                <div ng-switch-when="multiple">
                                    <label>Antwoorden:</label>
                                    <div class="multiple-radio">
                                        <input ng-model="$ctrl.statement.correctChoice" type="radio" value="0"/>
                                        <input id="answer1" type="text" class="form-control" name="answer1"
                                            placeHolder="Antwoord 1" ng-model="$ctrl.statement.choices[0]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="$ctrl.statement.correctChoice" type="radio" value="1"/>
                                        <input id="answer2" type="text" class="form-control" name="answer2"
                                            placeHolder="Antwoord 2" ng-model="$ctrl.statement.choices[1]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="$ctrl.statement.correctChoice" type="radio" value="2"/>
                                        <input id="answer3" type="text" class="form-control" name="answer3"
                                            placeHolder="Antwoord 3" ng-model="$ctrl.statement.choices[2]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="$ctrl.statement.correctChoice" type="radio" value="3"/>
                                        <input id="answer4" type="text" class="form-control" name="answer4"
                                            placeHolder="Antwoord 4" ng-model="$ctrl.statement.choices[3]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="$ctrl.statement.correctChoice" type="radio" value="4"/>
                                        <input id="answer5" type="text" class="form-control" name="answer5"
                                            placeHolder="Antwoord 5" ng-model="$ctrl.statement.choices[4]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="$ctrl.statement.correctChoice" type="radio" value="5"/>
                                        <input id="answer6" type="text" class="form-control" name="answer6"
                                            placeHolder="Antwoord 6" ng-model="$ctrl.statement.choices[5]"/>
                                    </div>
                                </div>

                                <!-- multiselect -->
                                <div ng-switch-when="multiselect">
                                    <label>Antwoorden:</label>
                                    <div class="multiple-checkbox">
                                        <input type="text" class="form-control" name="answer1"
                                            placeHolder="Antwoord 1" ng-model="$ctrl.statement.choices[0]"/>
                                    </div>
                                    <div class="multiple-checkbox">
                                        <input type="text" class="form-control" name="answer2"
                                            placeHolder="Antwoord 2" ng-model="$ctrl.statement.choices[1]"/>
                                    </div>
                                    <div class="multiple-checkbox">
                                        <input type="text" class="form-control" name="answer3"
                                            placeHolder="Antwoord 3" ng-model="$ctrl.statement.choices[2]"/>
                                    </div>
                                    <div class="multiple-checkbox">
                                        <input type="text" class="form-control" name="answer4"
                                            placeHolder="Antwoord 4" ng-model="$ctrl.statement.choices[3]"/>
                                    </div>
                                    <div class="multiple-checkbox">
                                        <input type="text" class="form-control" name="answer5"
                                            placeHolder="Antwoord 5" ng-model="$ctrl.statement.choices[4]"/>
                                    </div>
                                    <div class="multiple-checkbox">
                                        <input type="text" class="form-control" name="answer6"
                                            placeHolder="Antwoord 6" ng-model="$ctrl.statement.choices[5]"/>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="$ctrl.statement.id && $ctrl.statement.id != ''" class="row">
                                <image-thumb class="image-container" image-id="$ctrl.statement.id"
                                    image-url="$ctrl.parseImageUrl($ctrl.statement.id)"></image-thumb>

                                <upload-file question-id="$ctrl.statement.id"></upload-file>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	

