<div class="election-container">
    <div class="wrapper clearfix">
        <div class="container election">

            <div class="full-width-sm">
                <div id="tinderslide" tinder-animation animation-speed="100" animation-revert-speed="100" threshold="2" menu="'stemmen'">
                    <ul>
                        <li>
                            <div class="image-container" image-thumb image-url="'Foto-ga-jij-stemmen-.jpg'"></div>
                            <div class="gradient-container"></div>

                            <div class="text-container"><h1>En nu de vraag aan jou, {{ user.name }}: Ga jij 18 maart stemmen voor de provinciale statenverkiezingen?</h1></div>
                        </li>
                    </ul>

                    <div class="info-container" ng-show="false">
                        <div id="button_info" class="btn-info" ng-click="getInfo()"><span id="span_info">i</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

