<div class="home-container">
    <div class="wrapper clearfix">
        <div class="container home">
            <div class="full-width-sm">
                <div class="col-sm-12 ">
                    <div class="home-icon-container-holder">
                        <div class="icon-container">
                            <div icon-font icon-class="icon-drugs" class="icon-field"></div>
                        </div>
                        <div class="icon-container">
                            <div icon-font icon-class="icon-alcohol" class="icon-field"></div>
                        </div>
                        <div class="icon-container">
                            <div icon-font icon-class="icon-smoking" class="icon-field"></div>
                        </div>
                        <div class="icon-container">
                            <div icon-font icon-class="icon-intro" class="icon-field"></div>
                        </div>
                    </div>
                    <div class="text-container">
                        <div class="col-sm-12">
                            <h2 class="low">{{ 'home.teaser' | translate }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

