<div class="overview-container">
    <div class="wrapper clearfix">

        <div class="container overview">

            <div class="full-width-sm">
                <div class="row info">
                    <h1>Bedankt {{ user.name }} voor het meedoen.</br>Hieronder een overzicht van wat jij belangrijk
                        vindt.</h1>

                    <p class="text">Je kunt drie onderwerpen die je extra belangrijk vindt aanvinken. Dit doe je door middel van de sterren voor het onderwerp.</p>

                    <div class="statement-container">
                        <div ng-repeat="vote in likedVotes">
                            <div class="rating-button" ng-click="toggleVoteImportant(vote)">
                                <div class="btn-rating" ng-class="{active: vote.important}"></div>
                                <h2 ng-class="{even: $event, odd: $odd}">{{ vote.statement.name }}</h2>
                            </div>
                        </div>
                    </div>

                    <!--<h2>Wil jij meebeslissen over de onderwerpen die jij belangrijk vindt? Ga dan naar <a
                            ng-href="http://www.brabant.nl/verkiezingen">www.brabant.nl/verkiezingen</a></h2>-->
                </div>

                <div class="row">
                    <div class="column-button">
                        <div toggle-question question="question1" button-class="'data'" important="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

