<div class="result-container">
    <div class="wrapper clearfix">

        <div class="container result">

            <div class="full-width-sm">

                <div class="row home-background">
                    <div icon-font icon-class="{{ profile.icon }}"></div>
                    <div class="text">
                        <h1>{{ profile.label  }}</h1>
                        <h2>{{ numCorrectAnswers }} van de {{ numQuestions }} goed.</h2>
                    </div>
                </div>

                <div class="row background">
                    <h3>{{ 'result.intro.teaser.text' | translate }}</h3>

                    <div social-share class="social-container" menu="menu"></div>

                    <h2 ng-bind-html="trustAsHtml('result.intro.share.text')"></h2>
                </div>

                <div class="row white">
                    <h2>{{ 'result.all.profiles.text' | translate }}</h2>
                    <div ng-repeat="profile in profiles" class="result-block">
                        <div class="result-block-icon">
                            <div icon-font icon-class="{{ profile.icon }}"></div>
                        </div>
                        <div class="result-block-text">
                            <div class="text">
                                <h2>{{ profile.label }}</h2>
                                <h3>{{ profile.description }}</h3>
                            </div>
                            <div ng-if="profile.userCount > 0" profile-score profile="profile"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

