<div class="statement-container">
    <div class="wrapper clearfix">
        <div class="container statement-wrapper">

            <div id="tinderslide" tinder-animation ng-show="currentIndex < answers.length" animation-speed="100" animation-revert-speed="100" threshold="1" menu="'onderwerp'">
                <ul>
                    <li id="answerB" class="statementLi" ng-show="answerB" statement-view answer="answerB"></li>
                    <li id="answerA" class="statementLi" ng-show="answerA" statement-view answer="answerA"></li>
                </ul>
            </div>
        </div>
    </div>
</div>	

