<div class="overview-container">
    <div class="wrapper clearfix">

        <div class="container overview">

            <div class="full-width-sm">

                <div class="row">
                    <h2>Zoveel mensen hebben de app ook ingevuld.</h2>

                    <div cool-voters active="false"></div>

                    <!--<h2>Daarvan gaan deze mensen stemmen.</h2>

                    <div cool-voters active="true"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>	

