<div ng-if="$ctrl.uploader" class="form-upload-container" >
    <input ng-if="$ctrl.uploader" name="uploaded_file" type="file" nv-file-select uploader="$ctrl.uploader"/>
    <ul>
        <li ng-repeat="item in $ctrl.uploader.queue">
            <!--<div>{{ item.file.name }}</div>-->
            <div>
                <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                <!--<p ng-show="$ctrl.showError" class="error">Er is iets misgegaan, probeer opnieuw</p>-->
            </div>
        </li>
    </ul>
</div>