<footer class="primary">
    <div class="full-width-sm">
        <div class="row">
            <div footer-navigate class="nav-container" ng-class="{'no-social': (menu.showSocial === false)}" menu="home"></div>
        </div>
        <div class="row" ng-if="menu.showSocial">
            <div social-share class="social-container" menu="menu"></div>
        </div>
    </div>
</footer>

    