@import "../../sass/variables/variables";

.about-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .about {
      padding: 120px 0;

      @media (max-width: $screen-mini) {
        padding: 100px 0;
      }

      .full-width-sm {
        width: 100%;
        text-align: center;

        h1 {
          margin: 0 auto;
          padding: 30px 5%;
          width: 100%;
          line-height: 1.1;
          color: $coen-text-color;

          @media (max-width: $screen-mini) {
            padding: 20px 20px;
          }
        }

        a {
          margin: 0;
        }

        h2, h3 {
          margin: 0 auto;
          padding: 20px 10px;
          width: 100%;
          color: $coen-text-color;

          @media (max-width: $screen-phone) {
            padding: 20px 20px;
          }

          @media (max-width: $screen-mini) {
            margin: 0 auto 20px;
            padding: 20px 10px;
          }
        }

        .row {
          width: auto;
          text-align: center;
          margin: 0 10px;

          .column-question {
            float: left;
            margin: 0px auto;
            padding: 0;
            text-align: center;
            @include make-sm-column(6);

            @media (max-width: $screen-tablet) {
              @include make-sm-column(12);
            }

            .question {
              h3 {
                margin: 0 auto;
                padding: 0px;
              }

              .btn-answer {
                h3 {
                  color: $coen-darkgrey;
                }
              }
            }
          }
        }
      }

    }
  }
}