<div class="about-container">
    <div class="wrapper clearfix">
        <div class="container about">

            <div class="full-width-sm">
                <h1>{{ 'about.title' | translate }}</h1>
                <div class="row">
                    <div class="column-question">
                        <toggle-question ng-if="$ctrl.question1" class="question-right"
                            question="$ctrl.question1"></toggle-question>
                        <toggle-question ng-if="$ctrl.question2" class="question-right"
                            question="$ctrl.question2"></toggle-question>
                    </div>
                    <div class="column-question">
                        <toggle-question ng-if="$ctrl.question3" class="question-left"
                            question="$ctrl.question3"></toggle-question>
                        <toggle-question ng-if="$ctrl.question4" class="question-left"
                            question="$ctrl.question4"></toggle-question>
                    </div>
                    <div class="column-question">
                        <toggle-question ng-if="$ctrl.question5" class="question-left"
                            question="$ctrl.question5"></toggle-question>
                        <toggle-question ng-if="$ctrl.question6" class="question-left"
                            question="$ctrl.question6"></toggle-question>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

