<div *ngIf="driverInfo" class="rover-output">
  <span>Driver: {{ driverInfo.driver }}   </span>
  <span>Position: {{ driverInfo.position.x }} | {{ driverInfo.position.y }}   </span>
  <span>Orientation: {{ driverInfo.position.className }}</span>
</div>
