<div class="result-container">
    <div class="wrapper clearfix">

        <div class="container result">

            <div class="full-width-sm">
                <div class="row">
                    <p>Antwoorden per vraag</p>

                    <div class="person-container">
                        <p>Totaal aantal resultaten: {{ $ctrl.surveys.length }}</p>
                        <ul>
                            <li ng-repeat="result in $ctrl.results | filter:{'type':'!open'}">
                                <p ng-if="false" class="title" title="{{ result.type }}">{{ result.type }}</p>
                                <p class="question col-xs-7" title="{{ result.question }}">{{ result.question }}</p>

                                <div ng-if="false" class="total col-xs-3">
                                    <span>Totaal:  </span>
                                    <p title="{{ result.userCount }}">{{ result.userCount }}</p>
                                </div>

                                <ul class="answer-menu">
                                    <li ng-repeat="answer in result.answers">
                                        <div class="col-xs-3 answer-col" ng-class="result.type">
                                            <span>{{ answer.title }}</span>
                                        </div>
                                        <div class="col-xs-8 result-col" ng-class="result.type">
                                            <div class="percentage"
                                                ng-style="{width: answer.answerPercentage + '%'}"></div>
                                            <span class="count">{{ answer.answerCount }}</span>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li ng-repeat="result in $ctrl.results | filter:{'type':'open'}">
                                <p class="question col-xs-7" title="{{ result.question }}">{{ result.question }}</p>

                                <div ng-switch="result.type">

                                    <!-- open -->
                                    <div ng-switch-when="open">
                                        <ul class="answer-menu">
                                            <li ng-repeat="answer in result.questions">
                                                <p class="answer" ng-if="answer.answer && answer.answer != '0'">> {{
                                                    answer.answer }}</p>
                                                <p class="answer" ng-if="answer.submittedAnswer">> {{
                                                    answer.submittedAnswer }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>

                    <div class="button-container">
                        <button type="button" ng-csv="$ctrl.csvResults" filename="resultaten.csv"
                            csv-header="$ctrl.csvHeader" field-separator=";">
                            <span>Exporteren</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

