@import "../../sass/variables/variables";

footer {
  button {
    margin: 5px 0px;
    padding: 7px 15px;

    span {
      color: #666;

      font-size: 11pt;
      font-weight: bolder;
    }
  }
  p {
    margin: 0;
    padding: 0 10px;
    @media (min-width: $screen-sm-min) {
      padding: 0;
    }
    color: #666;
    font-size: 9pt;
  }
  a {
    color: #002E6B;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .copyright {
    margin-top: 4px;
    float: right;

  }

  &.primary {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 3;
    background-color: $coen-footer-background;

  }

  .full-width-sm {
    box-sizing: border-box;
    height: 100%;

    .row {
      margin: 0 auto;
      position: relative;

      @media (max-width: $screen-mini) {
        &:first-child {
          height: 54px;
          background-color: $coen-footer-background;
        }

        &:last-child {
          height: 49px;
          background-color: $coen-footer-background;
        }
      }

      .nav-container {
        position: absolute;
        bottom: 0px;
        width: 100%;
        margin: 0 auto;
        height: 80px;

        .nav {
          background-color: $coen-footer-background;

          &.home {
            background-color: $coen-home-footer-background;
          }
        }

        .disabled {
          .icon-navigate-right {
            cursor: default;
            fill: $coen-icon-color-disabled;
            stroke: $coen-icon-color-disabled;
          }
        }

        @media (max-width: $screen-mini) {
          bottom: 0;
          height: 68px;
        }

        div {
          height: 100%;
        }

        .start-test-container {
          margin: 0 auto;
          width: 100%;

          .center {
            position: absolute;
            top: 0;
            width: 100%;
            margin: 0 auto;

            .icon {
              width: 100%;
              margin: 8px 0 0 180px;
              height: $coen-icon-size-big;
              fill: $coen-icon-background;
              stroke: $coen-icon-background;
            }

            .text {
              margin: 23px 20px 0 -100px;
              padding: 0;
              top: 0;

              h3 {
                color: $coen-icon-background;
                font-size: 28pt;
                font-family: $coen-font-black;
                text-align: center;
                margin: 0 20px;
              }
            }
          }

          @media (max-width: $screen-tablet) {
            .center {
              .icon {
                margin: 14px 0 0 120px;
                height: $coen-icon-size-small;
              }

              .text {
                margin: 25px 20px 0 -80px;

                h3 {
                  font-size: 20pt;
                }
              }
            }
          }

          @media (max-width: $screen-phone) {
            .center {
              .icon {
                margin: 29px 0 0 100px;
                height: $coen-icon-size-mini;
              }

              .text {
                margin: 30px 20px 8px -40px;

                h3 {
                  font-size: 16pt;
                }
              }
            }
          }

          @media (max-width: $screen-mini) {
            .center {
              .icon {
                margin: 22px 0 0 90px;
                height: $coen-icon-size-mini;
              }

              .text {
                margin: 25px 20px 8px -20px;

                h3 {
                  font-size: 13pt;
                }
              }
            }
          }
        }
      }

      &.no-social {
        bottom: 0px;
      }
    }
  }
}

.footer {
  .nav {
    .wrapper {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  footer {
    &.primary {
      margin-top: 5px;
    }
  }
}
