<header class="primary">
    <div class="full-width-sm">
        <div class="row header-container">
            <div header-logo></div>
            <div header-popover></div>
        </div>
        <div class="row bullet-navigate-container">
            <div bullet-navigate></div>
        </div>
    </div>
</header>
