@import "../../sass/variables/variables";

.end-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .end {
      padding: 100px 0;

      .full-width-sm {
        width: 100%;
        text-align: center;

        h1 {
          margin: 0 auto;
          padding: 30px 5%;
          width: 100%;
          line-height: 1.1;
          color: $coen-text-color;

          @media (max-width: $screen-mini) {
            padding: 20px 10px;
          }

          &.low {
            padding: 20px 18px 0 18px;

            @media (max-width: $screen-mini) {
              padding: 20px 18px 0 18px;
            }

            @media (min-width: $screen-tablet) {
              padding: 180px 18px 0 18px;
              line-height: 1.3;
            }

            @media (min-width: $screen-desktop) {
              padding: 190px 18px 0 18px;
              line-height: 1.3;
            }

            @media (min-width: $screen-lg-desktop) {
              max-width: 780px;
              margin-left: 0;
            }
          }
        }

        a {
          margin: 0;
        }

        h2, h3 {
          margin: 0 auto;
          padding: 20px 10px;
          width: 100%;
          color: $coen-text-color;
        }

        .text-container {
          position: relative;
          float: left;
          width: 100%;
          margin: 0 auto;
          padding: 0;
          text-align: center;

          h1 {
            color: $coen-text-home-color;
          }

          h2 {
            font-family: $coen-font-light;
            color: $coen-text-home-color;
            text-align: center;
            font-size: 20pt;
            padding: 0 50px;
            box-sizing: border-box;

            @media (max-width: $screen-phone) {
              font-size: 17pt;
              padding: 0 20px;
              width: 100%;
            }

            @media (max-width: $screen-mini) {
              font-size: 14pt;
              padding: 0 25px;
            }
          }

          a {
            color: $coen-text-home-color;
            font-size: 20pt;

            @media (max-width: $screen-phone) {
              font-size: 17pt;
            }

            @media (max-width: $screen-mini) {
              font-size: 14pt;
            }
          }

          &.full {
            h2 {
              width: 100%;
              text-align: left;
              padding: 10px 5%;
            }
          }

          &.sponsor {
            .logo-vitaal-vechtdal {
              float: left;
              margin: 20px 0;
            }

            h2 {
              float: left;
              text-align: left;
              padding: 45px 20px;
              margin: 0;
              width: 420px;

              @media (max-width: $screen-tablet) {
                padding: 65px 20px;
                width: 320px;
              }

              @media (max-width: $screen-phone) {
                padding: 38px 10px;
                width: 180px;
              }

              @media (max-width: $screen-mini) {
                padding: 10px 10px;
              }
            }
          }
        }

        .row {
          width: auto;
          text-align: center;
          margin: 0 10px 0 10px;

          @media (max-width: $screen-phone) {
            margin: 0 10px 0 10px;
          }
        }
      }

    }
  }
}