<div class="end-container">
    <div class="wrapper clearfix">
        <div class="container end">

            <div class="full-width-sm">
                <div class="col-sm-12">
                    <div class="icon-spov-flower"></div>
                    <div class="text-container full">
                        <h1>{{ 'end.thanks.text' | translate }} {{ $ctrl.user.name }}</h1>
                        <h2 ng-bind-html="$ctrl.trustAsHtml('end.website.text')"></h2>
                        <h2 class="end-social-text" ng-bind-html="$ctrl.trustAsHtml('end.social.text')"></h2>
                    </div>
                    <div class="text-container sponsor">
                        <a href='http://www.vitaalvechtdal.nl/' target='_blank'><div class="logo-vitaal-vechtdal"></div></a>
                        <h2 ng-bind-html="$ctrl.trustAsHtml('end.sponsor.text')"></h2>
                    </div>
                    <div class="text-container full">
                        <h2 ng-bind-html="$ctrl.trustAsHtml('end.close.text')"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

