.mars-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: url("../../../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mars-background .mars-plateau {
  position: relative;
  background-color: #613021;
  border: 1px solid black;
  width: 620px;
  height: 600px;
  margin: 20px auto;
}

.mars-background .mars-plateau .mars-driveway {
  position: absolute;
  left: 0;
  top: 0;
  width: 620px;
  height: 600px;
}

.mars-background .rover-score {
  position: relative;
  background-color: black;
  width: 620px;
  height: 40px;
  margin: 5px auto 0;
  padding: 5px;
}
