<div class="mars-background">
  <div class="mars-plateau">
    <div class="mars-driveway">
      <app-rover [driver]="1"></app-rover>
      <app-rover [driver]="2"></app-rover>
    </div>
  </div>

  <div class="rover-score">
    <app-output [driver]="1"></app-output>
    <app-output [driver]="2"></app-output>
  </div>
</div>
