.intro-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: url("../../../assets/intro-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-background button {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 45%;
  padding: 8px;
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 12pt;
}

.intro-background button:hover {
  background-color: darkgrey;
}

