@import "../../sass/variables/variables";

.home-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .home {
      padding: 100px 0px 50px 0px;

      @media (max-width: $screen-mini) {
        padding: 60px 0px 50px 0px;
      }

      &.about,
      &.reminder {
        padding: 120px 0px 120px 0px;

        @media (max-width: $screen-mini) {
          padding: 100px 0px 50px 0px;
        }
      }

      .full-width-sm {
        width: 100%;
        text-align: center;

        h1 {
          margin: 0 auto;
          padding: 30px 5%;
          width: 100%;
          line-height: 1.1;
          color: $coen-text-color;

          @media (max-width: $screen-mini) {
            padding: 20px 20px;
          }

          @media (max-width: $screen-tablet) {
            //text-align: center;
          }

          &.low {
            padding: 20px 18px 0px 18px;

            @media (max-width: $screen-mini) {
              padding: 20px 18px 0px 18px;
            }

            @media (min-width: $screen-tablet) {
              padding: 180px 18px 0px 18px;
              line-height: 1.3;
            }

            @media (min-width: $screen-desktop) {
              padding: 190px 18px 0px 18px;
              line-height: 1.3;
            }

            @media (min-width: $screen-lg-desktop) {
              max-width: 780px;
              margin-left: 0px;

            }
          }
        }

        a {
          margin: 0px;
        }

        h2, h3 {
          margin: 0 auto;
          padding: 20px 10px;
          width: 100%;
          color: $coen-text-color;

          @media (max-width: $screen-phone) {
            padding: 20px 20px;
          }

          @media (max-width: $screen-mini) {
            margin: 0 auto 20px;
            padding: 20px 10px;
          }
        }

        .home-icon-container-holder {
          width: 100%;
          margin: 0;

          @media (max-width: $screen-phone) {
            .col-sm-12 {
              padding-left: 0 !important;
              padding-right: 0 !important;
            }
          }

          @media (min-width: $screen-desktop) {
            width: 100%;
          }

          .icon-container {
            position: absolute;
            left: 0px;
            width: 100%;
            margin: 0 auto;
            padding: 0px 30px;
            text-align: center;

            @media (max-width: $screen-phone) {
              top: 50px;
              padding: 0px 10px;
            }

            @media (max-width: $screen-mini) {
              top: 90px;
              padding: 0px 10px;
            }

            .icon-test {
              position: relative;
              float: none;
              margin: 175px auto;
              border-radius: 50%;
              width: 260px;
              height: 260px;
              border: 8px solid $coen-text-icon-home-color;

              h1 {
                font-family: $coen-font-black-oblique !important;
                margin: 12px 0;
                padding: 30px 10px 30px 10px;
                text-align: center;
                width: 100%;
                font-size: 35pt;
              }
            }

            @media (max-width: $screen-mini) {
              margin: 0 auto 20px;
              padding: 20px 10px;
            }
          }

          @media (min-width: $screen-desktop) {
            width: 100%;
          }

          @media (max-width: $screen-phone) {
            .icon-container {
              margin: 0;
              padding: 0;
              position: absolute;
              left: 0;
              width: 100%;
            }
          }

          @media (max-width: $screen-mini) {
            .icon-container {
              top: 90px;
            }
          }
        }

        .text-container {
          position: absolute;
          left: 0px;
          //top: 470px;
          width: 100%;
          margin: 20px auto;
          padding: 0 0 120px;
          text-align: center;
          //background-color: $coen-home-background;

          h1 {
            color: $coen-text-home-color;
          }

          h2 {
            font-family: $coen-font-light;
            color: $coen-text-home-color;
            text-align: center;
            font-size: 20pt;
            padding: 0px 50px;
            max-width: 525px;
            min-width: 525px;
            box-sizing: border-box;
          }

          p {
            color: $coen-text-home-color;
            text-align: center;
            font-size: 18pt;
          }

          a {
            color: $coen-text-home-color;

            @media (max-width: $screen-tablet) {
              font-size: 11pt;
            }

            @media (max-width: $screen-phone) {
              font-size: 9pt;
            }
          }

          @media (max-width: $screen-phone) {
            top: 360px;
            padding: 0 0 120px;
            width: auto;
            left: 0;

            h2 {
              font-size: 17pt;
              padding: 0 20px;
              width: 100%;
              max-width: 100%;
              min-width: 100%;
              box-sizing: border-box;
            }

            p {
              font-size: 12pt;
            }
          }

          @media (max-width: $screen-mini) {

            h2 {
              font-size: 14pt;
              padding: 0 25px;
            }

            p {
              font-size: 10pt;
            }
          }

          &.full {
            top: 160px;

            @media (max-width: $screen-phone) {
              top: 60px;
            }

            h2 {
              max-width: 100%;
              width: 100%;
              text-align: left;
              padding: 10px 5%;
            }
          }
        }

        .row {
          width: auto;
          text-align: center;
          margin: 0px 10px 0px 10px;

          @media (max-width: $screen-phone) {
            margin: 0px 10px 0px 10px;
          }

          .column-question {
            float: left;
            margin: 0px auto;
            padding: 0;
            text-align: center;
            @include make-sm-column(6);

            @media (max-width: $screen-tablet) {
              @include make-sm-column(12);
            }

            .question {
              h3 {
                margin: 0 auto;
                padding: 0px;
              }

              .btn-answer {
                h3 {
                  color: $coen-darkgrey;
                }
              }
            }
          }
        }
      }

    }
  }
}