<div class="nav" ng-class="$ctrl.menu.url">
    <div class="wrapper clearfix">
        <div ng-show="!$ctrl.menu.showVotes && !$ctrl.menu.showHome">
            <div ng-show="$ctrl.menu.showPrevious">
                <icon-font  icon-class="icon-left" class="pull-left menu"></icon-font>
                <div class="btn-ruler pull-left"></div>
                <icon-font  icon-class="icon-navigate-left" class="pull-left"
                    title="{{ $ctrl.prevMenu.label | translate }}"
                    ng-click="$ctrl.selectPreviousMenu()"></icon-font>
            </div>
            <div ng-show="$ctrl.menu.showNext">
                <icon-font  icon-class="icon-right" class="pull-right menu"></icon-font>
                <div class="btn-ruler pull-right"></div>
                <icon-font icon-class="icon-navigate-right"
                    class="pull-right" ng-class="{disabled: !$ctrl.isValid}"
                    title="{{ $ctrl.nextMenu.label | translate }}"
                    ng-click="$ctrl.selectNextMenu()" ng-enabled="$ctrl.isValid"></icon-font>
            </div>
        </div>
        <div ng-show="$ctrl.menu.showVotes">
            <icon-font icon-class="icon-left" class="pull-left menu"></icon-font>
            <div class="btn-ruler pull-left"></div>
            <icon-font icon-class="icon-correct" class="pull-left"
                ng-click="$ctrl.rateStatement(true)"></icon-font>
            <icon-font icon-class="icon-right" class="pull-right menu"></icon-font>
            <div class="btn-ruler pull-right"></div>
            <icon-font icon-class="icon-incorrect" class="pull-right"
                ng-click="$ctrl.rateStatement(false)"></icon-font>
        </div>

        <div ng-show="$ctrl.menu.showHome" class="start-test-container">
            <div class="center">
                <div class="text"><h3>{{ $ctrl.menu.label | translate }}</h3></div>
            </div>
            <div class="center">
                <icon-font ng-show="$ctrl.menu.showNext" icon-class="icon-navigate-right"
                    ng-class="{valid: ($ctrl.isValid === true)}"
                    ng-click="$ctrl.selectNextMenu()" title="{{ $ctrl.nextMenu.label  | translate }}"></icon-font>
            </div>
        </div>
    </div>
</div>	

