<div class="login-container">
    <div class="wrapper clearfix">

        <div class="container login">

            <div class="full-width-sm">

                <div class="row">
                    <p>Inloggen</p>

                    <form name="login-form" action="">
                        <fieldset>
                            <input type="text" class="form-control" name="username" placeHolder="username"
                                    ng-model="user.username">
                            <input type="password" class="form-control" name="password" placeHolder="password"
                                    ng-model="user.password">

                            <div class="button-container">
                                <button type="button" ng-click="login()"><span>Inloggen</span></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div ng-show="user.id > 0" class="row">
                    <h2>{{ user.name }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>	

