<div class="statement-container">
    <div class="wrapper clearfix">

        <div class="container statement">

            <div class="full-width-sm">

                <div ng-show="!statement" class="row">
                    <h1>{{ theme.name }}</h1>
                    <ul>
                        <li ng-repeat="statement in statements">
                            <div class="icon-container">
                                <button ng-click="editStatement($index)" class="icon">
                                    <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                                </button>
                                <!--<button ng-click="deleteStatement($index)" class="icon">
                                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                                </button>-->
                            </div>

                            <p>{{ statement.name }}</p>
                        </li>
                    </ul>
                    <div class="button-container">
                        <button type="button" ng-click="goBack()"><span>Terug</span></button>
                        <button type="button" ng-click="newStatement()"><span>Vraag toevoegen</span></button>
                    </div>
                </div>

                <div ng-show="statement" class="row">
                    <p ng-show="statement.id > 0">Vraag bewerken</p>

                    <p ng-show="statement.id === 0">Vraag toevoegen</p>

                    <form name="statement-form" action="">
                        <fieldset>

                            <div class="row">
                                <label>Type:</label>

                                <label>
                                    <input ng-model="statement.type" type="radio" value="statement"/>Statement
                                </label>
                                <label>
                                    <input ng-model="statement.type" type="radio" value="multiple"/>Multiple choice
                                </label>
                            </div>

                            <!--<input id="keywords" type="text" class="form-control" name="name"
                                    placeHolder="titel"
                                    ng-model="theme.name"/>-->

                            <label>Vraag:</label>
                            <input id="name" type="text" class="form-control" name="name"
                                    placeHolder="Stel een vraag"
                                    ng-model="statement.name"/>

                            <label>Antwoorden:</label>

                            <div ng-switch="statement.type">
                                <div ng-switch-when="statement">
                                    <div class="statement-radio">
                                        <label>
                                            <input ng-model="statement.correctAnswer" type="radio" value="0"/>Goed
                                        </label>
                                        <label>
                                            <input ng-model="statement.correctAnswer" type="radio" value="1"/>Fout
                                        </label>
                                    </div>
                                </div>
                                <div ng-switch-when="multiple">
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctAnswer" type="radio" value="0"/>
                                        <input id="answer1" type="text" class="form-control" name="answer1"
                                                placeHolder="Antwoord 1" ng-model="statement.answers[0]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctAnswer" type="radio" value="1"/>
                                        <input id="answer2" type="text" class="form-control" name="answer2"
                                                placeHolder="Antwoord 2" ng-model="statement.answers[1]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctAnswer" type="radio" value="2"/>
                                        <input id="answer3" type="text" class="form-control" name="answer3"
                                                placeHolder="Antwoord 3" ng-model="statement.answers[2]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctAnswer" type="radio" value="3"/>
                                        <input id="answer4" type="text" class="form-control" name="answer4"
                                                placeHolder="Antwoord 4" ng-model="statement.answers[3]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctAnswer" type="radio" value="4"/>
                                        <input id="answer5" type="text" class="form-control" name="answer5"
                                                placeHolder="Antwoord 5" ng-model="statement.answers[4]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctAnswer" type="radio" value="5"/>
                                        <input id="answer6" type="text" class="form-control" name="answer6"
                                                placeHolder="Antwoord 6" ng-model="statement.answers[5]"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="image-container" image-thumb image-id="statement.id"
                                        image-url="parseImageUrl(statement.id)"></div>

                                <label>Afbeelding:</label>
                                <div upload-file statement-id="statement.id"></div>
                            </div>

                            <label for="info">Uitleg:</label>
                            <textarea id="info" type="text" class="form-control" name="informatie"
                                    placeHolder="Geef uitleg over het antwoord" ng-model="statement.description"></textarea>

                            <div class="button-container">
                                <button type="button" ng-click="save()"><span>Opslaan</span></button>
                                <p ng-show="isSaving" class="save-feedback pull-right">... opslaan</p>
                                <button type="button" ng-click="cancel()"><span>Terug</span></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	

