// Typography
// -------------------------
$font-type-nunito: Lato, sans-serif;
$font-type-arial: Arial, sans-serif;

//
// Variables
// --------------------------------------------------
$coen-icon-size-big: 65px;
$coen-icon-size-small: 48px;
$coen-icon-size-mini: 25px;

$coen-logo: "../../../../assets/img/logos/coen/coen-logo.png";
$beeldenstorm-logo: "../../../../assets/img/logos/coen/logo-reclamebureau-beeldenstorm-white.png";

// Colors COEN
$coen-red: #dd0000; // original red from illustrator design
//$coen-red: #ec1c2c;
$coen-red-logo: #ec1c2c;
$coen-red-banner: #e30613;

$coen-lightred: #FFDEE1;
//$coen-darkred: #7e1016; // original
$coen-darkred: #960001;
$coen-link: #f5f5f5;
$coen-green: #91c21b;

$coen-darkgrey: #191919;
$coen-grey: #8a8b85;
$coen-lightgrey: #F2F2F2;
$coen-white: #ffffff;
$coen-white-alpha: rgba(255, 255, 255, 0.2);
$coen-black: #000000;

// Media queries breakpoints
// --------------------------------------------------

// Mini screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xxs: 320px;
$screen-xxs-min: $screen-xxs;
$screen-mini: $screen-xxs-min;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);


// Generate the small columns
@mixin make-sm-column($columns, $grid-columns: 12, $gutter: 0, $grid-gutter-width: 0) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
  width: percentage(($columns / $grid-columns));

  @media (min-width: $screen-sm-min) {
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the medium columns
@mixin make-md-column($columns, $grid-columns: 12, $gutter: 0, $grid-gutter-width: 0) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Drop shadows
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}