@import "../../sass/variables/variables";

.overview-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .overview {
      width: 100%;
      padding: 105px 0px 170px 0px;

      &.no-padding {
        padding: 105px 0px 80px 0px;
      }

      .full-width-sm {
        width: 100%;
        text-align: center;
        box-sizing: border-box;

        .row {
          position: relative;
          width: 100%;
          margin: 0px auto;
          padding: 5px;

          p {
            &.text {
              text-transform: none;
              font-size: 12pt;
              margin: 10px 20px;
              padding-bottom: 10px;

              &.white {
                color: $coen-darkgrey;
              }

              @media (min-width: $screen-lg-desktop) {
                font-size: 14pt;
              }
            }
          }

          .question {
            p {
              margin: 0px;
              padding: 10px 0px;
              font-size: 10pt;
            }
          }

          h2 {
            margin-bottom: 5px;
            padding: 20px;
          }

          &.info {

            @media (max-width: $screen-mini) {
              h1 {
                font-size: 18pt;
              }

              h2 {
                font-size: 14pt;
              }
            }

            h2 {
              position: relative;
              float: left;
              padding: 30px 0px;
            }

            a {
              margin: 0px;
            }

            .statement-container {
              position: relative;
              float: left;
              width: 100%;
              margin: 0px 20px;
              padding: 10px 0px 10px 0px;

              .rating-button {
                cursor: pointer;
                position: relative;
                float: left;
                width: 100%;

                .btn-rating {
                  position: absolute;
                  left: 0px;
                  top: 0px;
                }

                h2 {
                  width: 92%;
                  margin: 0 auto;
                  padding: 1px 0px 0px 50px;

                  @media (max-width: $screen-phone) {
                    padding: 1px 0px 0px 30px;
                  }

                  &.even {
                    color: $coen-white;
                  }

                  &.odd {
                    color: $coen-red;
                  }
                }
              }
            }
          }

          &.chart {
            position: relative;
            width: 100%;
            padding: 0 5px 20px 0;

            &.white {
              background-color: $coen-white;
              //              height: 640px;

              .row {
                margin: 0;
                padding: 0px;

                @media (min-width: $screen-tablet) {
                  padding: 20px 0px;
                }
              }

              h1, h2, h3 {
                color: $coen-darkgrey;
              }

              @media (max-width: $screen-mini) {
                h1 {
                  font-size: 18pt;
                }

                h2 {
                  font-size: 14pt;
                }
              }

              h3 {
                color: $coen-grey;
                margin: 0px auto;
                text-align: center;
                font-weight: 300;
                font-size: 16pt;

                &.chart-title {

                  @media (min-width: $screen-tablet) {
                    position: absolute;
                    margin: 76px -158px;
                    width: 380px;
                    text-align: left;

                    -ms-transform: rotate(-90deg); /* IE 9 */
                    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
                    transform: rotate(-90deg);
                  }
                }
              }
            }

            .chart-float {
              display: none;
              position: relative;
              float: left;
              width: 100%;
              height: 440px;
              margin: 0 auto;

              @media (min-width: $screen-tablet) {
                display: block;
              }

              &.mobile {
                display: none;

                @media (max-width: $screen-tablet) {
                  display: block;
                }
              }

              .chart-container {
                position: absolute;
                width: 97%;
                height: 100%;
              }
            }

            .chart-info {
              position: absolute;
              background: transparent;

              &.column {
                right: 0px;

                .btn-info-chart {
                  position: absolute;
                  top: -370px;
                  right: 15px;
                }

                .chart-theme {
                  position: absolute;
                  bottom: 90px;
                  left: 97px;

                  h3 {
                    position: absolute;
                    right: -36px;
                    top: -84px;
                    width: 260px;
                    text-align: left;
                    font-size: 18pt;
                    margin: 10px 5px;
                    text-transform: uppercase;
                    -ms-transform: rotate(-90deg); /* IE 9 */
                    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
                    transform: rotate(-90deg);
                  }
                }
              }

              &.bar {
                left: 0px;

                .btn-info-chart {
                  position: absolute;
                  top: -10px;
                  right: 70px;
                }

                .chart-theme {
                  position: absolute;
                  top: -16px;
                  left: 20px;
                  width: 80%;

                  h3 {
                    width: 100%;
                    text-align: left;
                    font-size: 16pt;
                    margin: 5px 5px;
                    text-transform: uppercase;
                  }
                }
              }
            }

            .chart-legend {
              margin-left: -80px;
              position: relative;
              text-align: center;
              padding: 20px 0px 40px 0px;

              @media (max-width: $screen-mini) {
                padding: 0px 0px 20px 0px;
              }

              .chart-icons {
                height: 50px;
                margin: 0 auto;

                .icon-field {
                  display: inline-block;
                  position: relative;
                  margin: 0px 40px;

                  h3 {
                    margin: 11px 65px;

                    @media (max-width: $screen-phone) {
                      margin: 6px 44px;
                    }

                    @media (max-width: $screen-mini) {
                      margin: 6px 50px 6px 44px;
                    }
                  }
                }
              }
            }
          }

          .column-button {
            margin: 20px auto;
            padding: 0;
            text-align: center;
            margin-left: 25%;
            @include make-sm-column(6);

            @media (max-width: $screen-tablet) {
              margin-left: 0px;
              @include make-sm-column(12);
            }
          }

        }
      }
    }
  }
}
