@import "../../../sass/variables/variables";

.burger-menu {
  position: absolute;
  width: 100%;
  right: 0px;
  top: 0px;

  .icon-burger {
    position: absolute;
    right: 0px;
    margin: 5px 5px;
    width: 36px;
    height: 36px;
  }

  .dropdown-menu {
    position: absolute;
    width: 348px;
    top: 58px;
    right: 0px;
    left: auto !important;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    padding: 0;
    white-space: normal;
    z-index: 1060;
    text-align: right;
    background-clip: padding-box;
    background-color: $coen-background;
    @include coen-border-radius(0px);

    @media (max-width: $screen-mini) {
      top: 30px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        color: white;
        font-size: 21pt;
        line-height: 48pt;
        font-weight: bold;
        margin: 10px;

        span {
          width: 100%;
          font-size: 22px;
        }
      }
    }
  }

}