@import "../jquery/jquery.fileupload-ui.css";
html,
body {
  background-color: #191919;
  font-family: Arial, sans-serif;
  overflow: hidden;
  overflow-y: auto;
}
h1,
h2,
h3,
p,
a {
  color: #ffffff;
}
h1 {
  font-size: 24pt;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
}
@media (min-width: 480px) {
  h1 {
    font-size: 16pt;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 22pt;
  }
}
h2 {
  font-size: 15pt;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
}
@media (min-width: 480px) {
  h2 {
    font-size: 15pt;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 26pt;
  }
}
h3 {
  font-size: 14pt;
}
@media (min-width: 480px) {
  h3 {
    font-size: 24pt;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 36pt;
  }
}
p {
  text-transform: uppercase;
  font-size: 14pt;
}
@media (min-width: 480px) {
  p {
    font-size: 14pt;
  }
}
@media (min-width: 768px) {
  p {
    font-size: 24pt;
  }
}
a {
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
  text-decoration: underline;
}
a:hover {
  color: #ffffff;
}
label {
  float: left;
  color: #8a8b85;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px 80px 40px;
  box-sizing: border-box;
  float: left;
}
.container.login,
.container.theme {
  padding: 100px 40px 80px 40px;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container .row {
  margin: 0 auto;
}
.button-container {
  float: left;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}
button {
  padding: 8px;
  margin-top: 10px;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 25px;
  width: 100%;
}
button.icon {
  width: 40px;
  height: 40px;
}
button span {
  text-transform: uppercase;
  font-size: 12pt;
  color: #ffffff;
}
button:disabled {
  border: 2px solid #8a8b85;
  cursor: default;
}
button:disabled span {
  color: #8a8b85;
}
form {
  margin: 0 auto;
}
form fieldset {
  margin: 0 auto;
  padding: 0;
}
form fieldset input {
  margin-top: 10px;
}
form fieldset textarea {
  margin-top: 10px;
  min-height: 100px;
}
form fieldset .form-control {
  margin-top: 10px;
}
.icon {
  cursor: pointer;
  width: 48px;
  height: 48px;
  fill: #ffffff;
}
.container ul {
  list-style: none;
  margin: 30px auto;
  padding: 0;
  width: 100%;
}
.container ul li {
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  cursor: pointer;
}
.container ul li .icon-container {
  position: relative;
  float: left;
}
.container ul li .icon-container .icon {
  float: left;
  margin: 3px;
}
.container ul li .cms-button {
  cursor: pointer;
}
.container ul li .cms-button p {
  position: relative;
  float: left;
  left: 30px;
  margin-top: 16px;
  font-size: 16pt;
}
/**
* Header
*/
.navigation-top .nav {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  .navigation-top .nav {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .navigation-top .nav-elements {
    float: right;
  }
}
@media (max-width: 767px) {
  .navigation-top .nav-elements {
    padding-left: 5px;
  }
}
.navigation-top .nav-elements .element {
  float: left;
  margin: 0 7px 0 0;
  padding: 3px 0;
  color: #666;
}
.navigation-top .nav-elements .element a {
  padding-left: 7px;
  border-left: 1px solid #E0DFDE;
  color: #f5f5f5;
}
.navigation-top .nav-elements .element a:hover {
  color: #dd0000;
}
.navigation-top .nav-elements .element a.readmore {
  border: none;
  padding-left: 15px;
}
header.primary {
  position: fixed;
  margin-bottom: 28px;
  width: 100%;
  top: 0px;
  z-index: 3;
}
header .full-width-sm {
  background: #191919;
}
header .full-width-sm .row {
  margin: 0;
  padding: 0;
}
header .full-width-sm .row.header-container {
  background-color: #000000;
  padding-left: 10px;
}
header .full-width-sm .row .logo-coen {
  float: left;
  margin: 0px auto;
  width: 92px;
  height: 50px;
  background: #000000 url("../img/coen-logo.png") 0px 0px no-repeat;
  background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url("../img/coen-logo.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
  -webkit-background-size: 92px 50px;
  background-size: 92px 50px;
}
header .header-form {
  float: right;
  width: 248px;
  margin-top: 31px;
}
@media (min-width: 768px) and (max-width: 991px) {
  header .header-form {
    margin: 0;
    margin-top: 20px;
  }
}
header .header-form .btn {
  height: 34px;
  background: transparent;
  background-color: transparent;
  color: #dd0000;
  border-left: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .header-form .btn i {
  margin-top: 2px;
  font-size: 16px;
}
header .header-form input {
  border-right: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-menu {
  position: absolute;
  right: 15px;
  width: 37px;
  top: 10px;
}
footer button {
  margin: 5px 0px;
  padding: 7px 15px;
}
footer button span {
  color: #666;
  font-size: 11pt;
  font-weight: bolder;
}
footer p {
  margin: 0;
  padding: 0 10px;
  color: #666;
  font-size: 9pt;
}
@media (min-width: 768px) {
  footer p {
    padding: 0;
  }
}
footer a {
  color: #002E6B;
}
footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: underline;
}
footer .copyright {
  margin-top: 4px;
  float: right;
}
footer.primary {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
  background-color: #dd0000;
  z-index: 3;
}
footer.primary .btn-next {
  margin-left: 5px;
}
footer.primary .btn-previous {
  margin-right: 5px;
}
footer.primary .btn-open {
  margin-left: 75px;
}
@media (max-width: 480px) {
  footer.primary .btn-open {
    margin-left: 0px;
  }
}
footer.primary .btn-close {
  margin-right: 75px;
}
@media (max-width: 480px) {
  footer.primary .btn-close {
    margin-right: 0px;
  }
}
footer .full-width-sm .row {
  margin: 0 20px 0px 20px;
}
footer button {
  background: none;
}
.footer .nav .wrapper {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  footer.primary {
    margin-top: 5px;
  }
  footer.primary .copyright {
    display: block;
    float: none;
  }
}
.login-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.login-container .wrapper {
  width: 100%;
}
.login-container .wrapper .login .full-width-sm {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .login-container .wrapper .login .full-width-sm {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.login-container .wrapper .login .full-width-sm form fieldset input {
  margin: 10px auto;
}
.login-container .wrapper .login .full-width-sm h3 {
  margin: 50px 50px;
}
.statement-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.statement-container .wrapper {
  width: 100%;
}
.statement-container .wrapper .statement .full-width-sm {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .statement-container .wrapper .statement .full-width-sm {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 992px) {
  .statement-container .wrapper .statement .full-width-sm {
    padding-left: 50%;
    padding-right: 50%;
  }
}
.statement-container .wrapper .statement .full-width-sm .row {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.statement-container .wrapper .statement .full-width-sm .row .question-type input {
  margin: 8px 0px 8px 10px;
}
.statement-container .wrapper .statement .full-width-sm .row p.save-feedback {
  font-size: 12pt;
  right: 10px;
}
.statement-container .wrapper .statement .full-width-sm .row label {
  margin: 10px 10px 10px 0px;
}
.statement-container .wrapper .statement .full-width-sm .row .multiple-radio {
  float: left;
  margin: 0 auto;
  width: 100%;
}
.statement-container .wrapper .statement .full-width-sm .row .multiple-radio input[type="radio"] {
  float: left;
  width: 30px;
  margin-top: 20px;
}
.statement-container .wrapper .statement .full-width-sm .row .multiple-radio input[type="text"].form-control {
  float: left;
  width: 80%;
}
.statement-container .wrapper .statement .full-width-sm .row #file_select {
  display: block !important;
  position: relative;
  float: left;
  max-width: 310px;
}
.statement-container .wrapper .statement .full-width-sm .row .image-container {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 0px;
  overflow: hidden;
}
.statement-container .wrapper .statement .full-width-sm .row .image-container img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-position: center center;
}
.statement-container .wrapper .statement .full-width-sm .row .form-upload-container {
  position: relative;
  margin: 0px;
}
.statement-container .wrapper .statement .full-width-sm .row .form-upload-container input {
  color: #ffffff;
}
.statement-container .wrapper .statement .full-width-sm .row .form-upload-container button {
  width: 150px;
  color: #ffffff;
  float: left;
}
.statement-container .wrapper .statement .full-width-sm .row .form-upload-container .fileupload-progress {
  position: relative;
  float: left;
  margin: 10px auto;
}
.statement-container .wrapper .statement .full-width-sm ul {
  list-style: none;
}
.statement-container .wrapper .statement .full-width-sm ul li {
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: left;
}
.statement-container .wrapper .statement .full-width-sm ul li .icon-container {
  position: relative;
  float: left;
}
.statement-container .wrapper .statement .full-width-sm ul li .icon-container .icon {
  float: left;
  margin: 3px;
}
.statement-container .wrapper .statement .full-width-sm ul li .statement-button {
  position: relative;
  float: left;
  width: 70%;
  margin: 8px 0 8px 30px;
}
.statement-container .wrapper .statement .full-width-sm ul li .statement-button p {
  font-size: 14pt;
  line-height: 1.2;
}
.theme-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.theme-container .wrapper {
  width: 100%;
}
.theme-container .wrapper .theme .full-width-sm {
  width: 100%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.menu-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.menu-container .wrapper {
  width: 100%;
}
.menu-container .wrapper .menu .full-width-sm {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .menu-container .wrapper .menu .full-width-sm {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.menu-container .wrapper .menu .full-width-sm .cms-menu {
  width: 100%;
}
.menu-container .wrapper .menu .full-width-sm .cms-menu ul {
  width: 100%;
}
.menu-container .wrapper .menu .full-width-sm .cms-menu ul li {
  cursor: pointer;
  float: left;
  width: 100%;
  list-style: none;
}
.menu-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.menu-container .wrapper {
  width: 100%;
}
.menu-container .wrapper .menu .full-width-sm {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  padding-left: 25%;
  padding-right: 25%;
}
.menu-container .wrapper .menu .full-width-sm ul li {
  list-style: none;
}
.menu-container .wrapper .menu .full-width-sm ul li p {
  font-size: 16pt;
}
.result-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.result-container .wrapper {
  width: 100%;
}
.result-container .wrapper .result .full-width-sm {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .result-container .wrapper .result .full-width-sm {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.result-container .wrapper .result .full-width-sm .winner-container p {
  font-size: 14pt;
  text-align: left;
}
.result-container .wrapper .result .full-width-sm .person-container {
  margin-top: 20px;
}
.result-container .wrapper .result .full-width-sm .person-container p {
  font-size: 14pt;
  text-align: left;
}
.result-container .wrapper .result .full-width-sm .person-container ul {
  margin: 0;
  padding: 0;
}
.result-container .wrapper .result .full-width-sm .person-container ul li {
  width: 100%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.result-container .wrapper .result .full-width-sm .person-container ul li p {
  margin: 2px 10px 2px 0px;
  font-size: 10pt;
  float: left;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.result-container .wrapper .result .full-width-sm .person-container ul li p:nth-child(1) {
  width: 33%;
}
.result-container .wrapper .result .full-width-sm .person-container ul li p:nth-child(2) {
  width: 40%;
}
.result-container .wrapper .result .full-width-sm .person-container ul li p:nth-child(3) {
  width: 20%;
  text-align: right;
}
