<div ng-switch="$ctrl.client">
    <div ng-switch-when="coen">
        <coen-font-library></coen-font-library>
    </div>
    <div ng-switch-when="hardenberg">
        <hardenberg-font-library></hardenberg-font-library>
    </div>
    <div ng-switch-when="roc">
        <roc-font-library></roc-font-library>
    </div>
    <div ng-switch-when="verkiezingen">
        <roc-font-library></roc-font-library>
    </div>
    <div ng-switch-when="spov">
        <roc-font-library></roc-font-library>
    </div>
</div>