<div id="page-holder" ng-class="menu.url">
    <div ng-include="layoutPartial('header')"></div>
    <div ng-view></div>
    <div ng-include src="'html/pages/popup.html'"></div>
    <div ng-include="layoutPartial('footer')"></div>
</div>