<div class="description-container" ng-show="showInfo" custom-scroll>
    <div ng-if="info.correct == undefined">
        <div ng-click="close()" icon-font icon-class="icon-close" class="pull-right"></div>

        <div text-format text="info.description | translate" class="info"></div>
    </div>

    <div ng-if="info.correct != undefined">
        <div class="title">
            <!--<div ng-if="info.correct" icon-font icon-class="icon-correct"></div>
            <div ng-if="!info.correct" icon-font icon-class="icon-incorrect"></div>-->
            <h1>{{ info.correct ? 'Goed' : 'Fout' }}</h1>
        </div>
        <div text-format text="info.description | translate" class="question"></div>
    </div>

</div>

