<div class="nav" ng-class="menu.url">
    <div class="wrapper clearfix">
        <div ng-show="!menu.showVotes && !menu.showHome">
            <div ng-show="menu.showPrevious">
                <div icon-font icon-class="icon-left" class="pull-left menu"></div>
                <div class="btn-ruler pull-left"></div>
                <div icon-font icon-class="icon-navigate-left" class="pull-left" title="{{ prevMenu.label | translate }}"
                        ng-click="selectPreviousMenu()"></div>
            </div>
            <div ng-show="menu.showNext">
                <div icon-font icon-class="icon-right" class="pull-right menu"></div>
                <div class="btn-ruler pull-right"></div>
                <div icon-font icon-class="icon-navigate-right" class="pull-right" ng-class="{disabled: !isValid}" title="{{ nextMenu.label | translate }}"
                        ng-click="selectNextMenu()" ng-enabled="isValid"></div>
            </div>
        </div>
        <div ng-show="menu.showVotes">
            <div icon-font icon-class="icon-left" class="pull-left menu"></div>
            <div class="btn-ruler pull-left"></div>
            <div icon-font icon-class="icon-correct" class="pull-left" ng-click="rateStatement(true)"></div>
            <div icon-font icon-class="icon-right" class="pull-right menu"></div>
            <div class="btn-ruler pull-right"></div>
            <div icon-font icon-class="icon-incorrect" class="pull-right" ng-click="rateStatement(false)"></div>
        </div>
        <div ng-show="menu.showHome">
            <div class="start-test-container">
                <div class="text"><h3>{{ menu.label | translate }}</h3></div>
                <div ng-show="menu.showNext" icon-font icon-class="icon-navigate-right" class="" ng-class="{valid: (isValid === true)}"
                        ng-click="selectNextMenu()" title="{{ nextMenu.label  | translate }}"></div>
            </div>
        </div>
    </div>
</div>	

