<li class="theme">
    <input type="checkbox" ng-model="checked">
    <p>{{ theme.name }}</p>
    <input type="radio" ng-model="$parent.favouriteTheme" name="ratingValue" value="{{ themeRating.id }}">
</li>