@import "../../sass/variables/variables";

.user-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .user {
      padding: 120px 0;

      @media (max-width: $screen-mini) {
        padding: 100px 0;
      }

      h1 {
        text-align: center;
      }

      &.opinion {

        .full-width-sm {
          .form-container {
            .row {
              h1 {
                text-align: left;
              }

              .column-button {
                margin: 30px 10px;

                @media (max-width: $screen-tablet) {
                  @include make-sm-column(6);
                }

                @media (min-width: $screen-lg-desktop) {
                  @include make-sm-column(6);
                }
              }
            }
          }
        }
      }

      .full-width-sm {
        width: 100%;
        text-align: center;

        .image-container {
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          width: 100%;
          height: 120%;
          margin: 0 auto;
          overflow: hidden;

          @media (max-width: $screen-phone) {
            height: 150%;
          }

          @media (min-width: $screen-desktop) {
            height: 105%;
          }

          img {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: 120%;
            height: 120%;
            margin: 0 auto;
          }
        }

        .form-container {
          position: relative;
          width: 100%;
          margin: 0 auto;

          @media (min-width: $screen-lg-desktop) {
            width: 1200px;
          }

          .row {
            width: auto;
            text-align: center;
            margin: 10px auto;

            p {
              text-transform: none;
              font-size: 12pt;
              margin: 10px 20px;
            }

            .btn-answer {
              p {
                font-size: 10pt;
                margin: 0px;
                padding: 10px 0px;
              }
            }

            @media (max-width: $screen-mini) {
              h1 {
                font-size: 18pt;
                margin: 0 15px;
              }
            }

            .column-button {
              margin: 30px auto;
              padding: 0;
              text-align: center;
              @include make-sm-column(6);

              @media (max-width: $screen-desktop) {
                margin: 30px auto;
                @include make-sm-column(9);
              }

              @media (max-width: $screen-phone) {
                margin: 30px auto;
                padding-left: 20px;
                @include make-sm-column(12);
              }

              .required-message {
                position: relative;
                float: right;
                margin: 10px 10px 0;
                color: $coen-text-icon-color-active;
                font-size: 14pt;

                @media (max-width: $screen-phone) {
                  font-size: 12pt;
                  margin: 10px 40px 0;
                }
              }

              .question {
                @media (max-width: $screen-phone) {
                  width: calc(100% - 110px);
                }
              }

              form {
                margin: 0;
                padding: 0;

                fieldset {
                  margin: 0;
                  padding: 0;
                  text-align: center;

                  .field-container {
                    float: left;
                    margin: 0 auto 10px;
                    width: 100%;

                    @media (max-width: $screen-phone) {
                      width: 100%;
                    }

                    .required {
                      float: right;
                      margin: 15px 0 0;
                      position: absolute;
                      right: -15px;
                      color: $coen-red;
                      font-size: 20pt;

                      @media (max-width: $screen-phone) {
                        right: 15px;
                      }
                    }

                    .icon-field {
                      position: relative;
                      float: left;
                      margin-right: 20px;

                      @media (max-width: $screen-phone) {
                        margin-right: 5px;
                        margin-left: 10px;
                      }

                      .icon {
                        margin: 3px 0;
                      }
                    }

                    .gender-button {
                      position: relative;
                      float: left;
                      margin: 0 0 0 10px;
                      padding: 12px 17px 12px 17px;
                      background: $coen-background-alpha;
                      border: 3px solid $coen-text-icon-color-active;
                      @include coen-border-radius(12px);
                      width: 39.2%;
                      width: calc(50% - 50px);

                      @media (max-width: $screen-phone) {
                        width: 36.4%;
                        width: calc(100% - 110px);
                      }

                      &.female {
                        @media (max-width: $screen-phone) {
                          margin: 10px 0 0 73px;
                        }
                      }

                      span {
                        color: $coen-text-color;
                        text-transform: uppercase;
                        font-size: 13pt;
                        font-weight: 900;
                      }

                      &.active {
                        background: $coen-text-icon-color-active;
                        border: 3px solid $coen-text-icon-color-active;

                        span {
                          color: $coen-text-color;
                        }
                      }

                      @media (max-width: $screen-mini) {
                        span {
                          font-size: 12pt;
                        }
                      }
                    }

                    input {
                      position: relative;
                      float: left;
                      margin: 1px 10px;
                      padding: 12px 17px 12px 17px;
                      background: $coen-background-alpha;
                      border: 3px solid $coen-white;
                      color: $coen-text-color;
                      @include coen-border-radius(12px);
                      text-transform: uppercase;
                      font-size: 13pt;
                      font-weight: 900;
                      resize: none;
                      width: 80%;
                      width: calc(100% - 90px);

                      @media (max-width: $screen-mini) {
                        font-size: 12pt;
                      }

                      @media (max-width: $screen-phone) {
                        width: 75%;
                        width: calc(100% - 110px);
                      }
                    }

                    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                      color: $coen-text-color;
                    }

                    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                      color: $coen-text-color;
                      opacity: 1;
                    }

                    ::-moz-placeholder { /* Mozilla Firefox 19+ */
                      color: $coen-text-color;
                      opacity: 1;
                    }

                    :-ms-input-placeholder { /* Internet Explorer 10-11 */
                      color: $coen-text-color;
                    }
                  }

                  .textarea-container {
                    display: inline-block;
                    position: relative;
                    float: none;
                    margin: 5px auto;
                    width: 100%;

                    textarea {
                      position: relative;
                      float: left;
                      width: 100%;
                      height: 140px;
                      margin: 0px;
                      padding: 8px 17px 8px 17px;
                      background: none;
                      border: 3px solid $coen-white;
                      color: $coen-text-color;
                      @include coen-border-radius(25px);
                      text-transform: uppercase;
                      font-size: 13pt;
                      font-weight: 900;

                      @media (max-width: $screen-phone) {
                        width: 100%;
                        margin: 0px auto;
                      }

                      @media (min-width: $screen-phone) and (max-width: $screen-desktop) {
                        width: 100%;
                      }

                      @media (min-width: $screen-desktop) {
                        width: 70%;
                      }

                      @media (max-width: $screen-mini) {
                        font-size: 12pt;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}