@import "../../sass/variables/variables";

.statement-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .statement-wrapper {
      width: 100%;
      padding: 0;

      #tinderslide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        ul {
          margin: 0;
          padding: 0;

          li {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}