<div class="statement-container">
    <div class="wrapper clearfix">
        <div class="container statement-wrapper">

            <tinder-animation id="tinderslide"
                animation-speed="100" animation-revert-speed="100" threshold="1.5"
                menu="'statement'">

                <ul>
                    <li id="answerB" ng-show="$ctrl.answerB" class="statementLi">
                        <statement-view answer="$ctrl.answerB"></statement-view>
                    </li>
                    <li id="answerA" class="statementLi" ng-show="$ctrl.answerA">
                        <statement-view answer="$ctrl.answerA"></statement-view>
                    </li>
                </ul>
            </tinder-animation>
        </div>
    </div>
</div>	

