<div class="theme-container">
    <div class="wrapper clearfix">

        <div class="container theme">

            <div class="full-width-sm">

                <div ng-show="!$ctrl.theme" class="row">
                    <p>Thema's bewerken</p>

                    <ul>
                        <li ng-repeat="theme in $ctrl.themes">
                            <div class="icon-container">
                                <icon-font icon-class="icon-edit" ng-click="$ctrl.editTheme($index)"
                                    class="icon" title="Thema bewerken"></icon-font>
                                <icon-font icon-class="icon-delete" ng-click="$ctrl.deleteTheme($index)"
                                    class="icon" title="Thema verwijderen"></icon-font>
                            </div>
                            <div title="{{ theme.name }}"><p>{{ theme.name }}</p></div>
                        </li>
                    </ul>
                </div>

                <div ng-show="$ctrl.theme" class="row">
                    <p ng-show="$ctrl.theme.id > 0">Thema bewerken</p>
                    <p ng-show="$ctrl.theme.id === 0">Thema toevoegen</p>

                    <form name="theme-form" action="">
                        <fieldset>
                            <input type="text" class="form-control" name="name" placeHolder="naam"
                                ng-model="$ctrl.theme.name"/>
                            <textarea type="text" class="form-control" name="description" placeHolder="beschrijving"
                                ng-model="$ctrl.theme.description"></textarea>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	

