@import "../../variables";

.theme-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .theme {

      .full-width-sm {
        width: 100%;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;

        @media (min-width: $screen-phone) {
          padding-left: 10%;
          padding-right: 10%;
        }
      }
    }
  }
}