<form name="userForm" novalidate>
    <fieldset>
        <!-- name -->
        <div class="field-container">
            <icon-font icon-class="icon-name" class="icon-field"></icon-font>
            <input type="text" placeholder="{{'info.form.placeholder.name' | translate}}"
                ng-model="$ctrl.user.name" ng-change="$ctrl.updateValidation()"
                required/>
            <div class="required">*</div>
        </div>

        <!-- email -->
        <div class="field-container">
            <icon-font icon-class="icon-email" class="icon-field"></icon-font>
            <input type="email" placeholder="{{'info.form.placeholder.email' | translate}}"
                ng-model="$ctrl.user.email" ng-change="$ctrl.updateValidation()"/>
        </div>

        <!-- education -->
        <div class="field-container">
            <icon-font icon-class="icon-education" class="icon-field"></icon-font>
            <input type="text"
                placeholder="{{'info.form.placeholder.education' | translate}}"
                ng-model="$ctrl.user.education" ng-change="$ctrl.updateValidation()"
                required/>
            <div class="required">*</div>
        </div>

        <!-- level -->
        <div class="field-container">
            <icon-font icon-class="icon-level" class="icon-field"></icon-font>
            <input type="text" placeholder="{{'info.form.placeholder.level' | translate}}"
                ng-model="$ctrl.user.level" ng-change="$ctrl.updateValidation()"
                required/>
            <div class="required">*</div>
        </div>

        <!-- year -->
        <div class="field-container">
            <icon-font icon-class="icon-year" class="icon-field"></icon-font>
            <input type="text" placeholder="{{'info.form.placeholder.year' | translate}}"
                ng-model="$ctrl.user.year" ng-change="$ctrl.updateValidation()"/>
        </div>

        <!-- age -->
        <div class="field-container">
            <icon-font icon-class="icon-age" class="icon-field"></icon-font>
            <input type="text" placeholder="{{'info.form.placeholder.age' | translate}}"
                ng-model="$ctrl.user.age" ng-change="$ctrl.updateValidation()"
                min="0" max="99" ng-pattern="/^[0-9]{1,3}$/"/>
        </div>

        <!-- gender -->
        <div class="field-container">
            <icon-font icon-class="icon-gender" class="icon-field"></icon-font>
            <button class="gender-button" type="button"
                ng-click="$ctrl.selectGender('male')"
                ng-class="{active: ($ctrl.user.gender === 'male')}">
                <span>{{'info.form.placeholder.gender.male' | translate}}</span>
            </button>
            <button class="gender-button female" type="button"
                ng-click="$ctrl.selectGender('female')"
                ng-class="{active: ($ctrl.user.gender === 'female')}">
                <span>{{'info.form.placeholder.gender.female' | translate}}</span>
            </button>
        </div>
    </fieldset>
</form>