@import "../../sass/variables/variables";

.election-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .election {
      width: 100%;

      .full-width-sm {
        width: 100%;
        text-align: center;

        #tinderslide {
          position: absolute;
          background: $coen-darkgrey;
          width: 100%;
          height: 100%;

          .info-container {
            position: absolute;
            top: 130px;
            right: 30px;

            @media (max-width: $screen-mini) {
              top: 115px;
              right: 10px;
            }
          }

          .image-container {
            position: absolute;
            top: 103px; left: 0px; right: 0px; bottom: 142px;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;

            @media(max-width:$screen-mini){
              bottom:105px;
            }


            img {
              position: absolute;
              top: 0px; left: 0px; right: 0px; bottom: 0px;
              width: 100%;
              height: 100%;
              margin: 0 auto;
            }
          }

          .gradient-container {
            content: '';
            position: absolute;
            top: 103px;
            left: 0px; right: 0px; bottom: 0px;
            @include coen-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));

            @media(max-width:$screen-mini){
              top:90px;
            }
          }

          ul {
            margin: 0;
            padding: 0;

            li {
              margin: 0;
              padding: 0;

              .text-container {
                position: absolute;
                top: 170px;
                padding: 0px 10px;
                width: 100%;

                @media (max-width: $screen-mini) {
                  top: 120px;

                  h1 {
                    font-size: 14pt;
                    margin: 0px 30px 5px 5px;
                    line-height: 1.1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}