@import "../variables/variables";

.header-logo {
  cursor: pointer;
  float: right;
  margin: 0 auto;
  width: 100px;
  height: 60px;
  background: $coen-header-background url($coen-logo) 15px 5px no-repeat;
  background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-logo-svg) no-repeat scroll 15px 5px rgba(0, 0, 0, 0);
  background-size: 72px;

  @media (max-width: $screen-mini) {
    height: 40px;
    background-size: 50px;
  }
}

.header-logo2 {
  cursor: pointer;
  float: right;
  margin: 10px auto 0;
  width: 100px;
  height: 50px;
  background: $coen-header-background url($coen-logo2) 15px 5px no-repeat;
  background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-logo2-svg) no-repeat scroll 15px 5px rgba(0, 0, 0, 0);
  background-size: 72px;

  @media (max-width: $screen-mini) {
    margin: 0 auto;
    height: 40px;
    background-size: 50px;
  }
}

.logo-sponsor {
  cursor: pointer;
  float: left;
  margin: 10px auto;
  width: 100%;
  height: 120px;
  background: $coen-header-background url($coen-logo-sponsor) 15px 5px no-repeat;
  background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-logo-sponsor-svg) no-repeat scroll 15px 5px rgba(0, 0, 0, 0);
  background-size: 318px 111px;

  @media (max-width: $screen-mini) {
    background-size: 90%;
  }
}


.home-container {

  .home-icon-container-holder {
    display: none;
  }

  .wrapper {
    .home {
      .full-width-sm {
        .text-container {
          top: 162px;

          @media (max-width: $screen-tablet) {
            top: 100px;
          }

          h2 {
            text-align: center;
            font-size: 17pt;

            @media (max-width: $screen-phone) {
              font-size: 13pt;
            }
          }
        }
      }
    }
  }

}

.result-container {
  margin-top: 40px;

  .low {
    margin-top: 60px !important;
  }
}

/** overwrite the css margins for the start button on the home page **/
.start-test-container {

  .center {
    .icon {
      margin: 8px 0 0 150px !important;
    }

    .text {
      margin: 8px 20px 8px -80px !important;
    }
  }

  @media (max-width: $screen-tablet) {
    .center {
      .icon {
        margin: 16px 0 0 110px !important;
      }

      .text {
        margin: 26px 20px 8px -80px !important;
      }
    }
  }

  @media (max-width: $screen-phone) {
    .center {
      .icon {
        margin: 25px 0 0 80px !important;
      }

      .text {
        margin: 26px 20px 8px -40px !important;
      }
    }
  }

  @media (max-width: $screen-mini) {
    .center {
      .icon {
        margin: 25px 0 0 65px !important;
      }

      .text {
        margin: 28px 20px 8px -30px !important;
      }
    }
  }
}

.button-info {
  display: none;
}