<div class="home-container">
    <div class="wrapper clearfix">
        <div class="container home">

            <div class="full-width-sm">
                <div class="col-sm-12 ">
                    <div class="text-container full">
                        <h1>{{ 'end.thanks.text' | translate }} {{ user.name }}</h1>
                        <!--<h2 ng-bind-html="trustAsHtml('end.website.text')"></h2>-->
                        </br></br>
                        <h2 ng-bind-html="trustAsHtml('end.social.text')"></h2>
                    </div>
                    <div class="text-container sponsor">
                        <a href='http://www.vitaalvechtdal.nl/' target='_blank'><div class="logo-vitaal-vechtdal"></div></a>
                        <h2 ng-bind-html="trustAsHtml('end.sponsor.text')"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

