<div class="login-container">
    <div class="wrapper clearfix">

        <div class="container login">

            <div class="full-width-sm">
                <h1>Login met je social account</h1>

                <div class="row">
                    <div class="column-button">
                        <button class="text-center" ng-click="loginFacebook()"><span>Facebook</span></button>
                        <button class="text-center" ng-click="loginTwitter()"><span>Twitter</span></button>
                        <button class="text-center" ng-click="loginInstagram()"><span>Instagram</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

