<div class="user-container">
    <div class="wrapper clearfix">

        <div class="container user opinion">

            <div class="full-width-sm">
                <div class="form-container">
                    <div class="row">
                        <h1>Wil jij nog iets anders kwijt?</h1>
                        <p>Naast de onderwerpen die je net voorbij zag komen wil je misschien nog iets anders meegeven!</p>

                    </div>
                    <div class="row">
                        <div class="column-button">
                            <form name="opinionForm" novalidate>
                                <fieldset>
                                    <div class="textarea-container">
                                        <textarea type="text" placeholder="Plaats een opmerking" ng-model="user.remarks"></textarea>
                                    </div>
                                </fieldset>
                            </form>

                            <!--<div toggle-question class="question-left" question="question1" button-class="'skip'"></div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>	

