<header class="primary">
    <div class="full-width-sm">
        <div class="row header-container">
            <div ng-if="$ctrl.showCoen" class="logo-coen"></div>
            <div ng-if="$ctrl.showBeeldenstorm" class="logo-beeldenstorm"></div>
        </div>
    </div>
</header>
