@import "../../variables";

.navigation-top {
  .nav {
    @include make-md-column(12);
  }
  .nav-elements {
    @media (min-width: $screen-sm-min) {
      float: right;
    }
    @media (max-width: $screen-xs-max) {
      padding-left: 5px;
    }

    .element {
      float: left;
      margin: 0 7px 0 0;
      padding: 3px 0;
      color: #666;
      a {
        padding-left: 7px;
        border-left: 1px solid #E0DFDE;
        color: $coen-link;
        &:hover {
          color: $coen-red;
        }
      }
      a.readmore {
        border: none;
        padding-left: 15px;
      }
    }

  }
}

header {
  &.primary {
    position: fixed;
    margin-bottom: 28px;
    width: 100%;
    top:  0px;
    z-index: 3;
  }

  .full-width-sm {
    background: $coen-darkgrey;

    .row {
      margin: 0;
      padding: 0;

      &.header-container {
        background-color: $coen-black;
        padding-left: 10px;
      }

      .logo-beeldenstorm {
        float: none;
        margin: 4px auto;
        width: 200px;
        height: 34px;
        background: $coen-black url($beeldenstorm-logo) 0px 0px no-repeat;
        background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($beeldenstorm-logo) no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
        -webkit-background-size: 200px 34px;
        background-size: 200px 34px;
      }

      .logo-coen {
        float: left;
        margin: 0 auto;
        width: 92px;
        height: 50px;
        background: $coen-black url($coen-logo) 0px 0px no-repeat;
        background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-logo) no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
        -webkit-background-size: 92px 50px;
        background-size: 92px 50px;
      }
    }
  }

  .header-form {
    float: right;
    width: 248px;
    margin-top: 31px;
    //margin-right: 14px;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin: 0;
      margin-top: 20px;
    }
    .btn {
      height: 34px;
      background: transparent;
      background-color: transparent;
      color: $coen-red;
      border-left: none;
      border-radius: 17px;
      @include box-shadow(none);

      i {
        margin-top: 2px;
        font-size: 16px;
      }
    }
    input {
      border-right: none;
      @include box-shadow(none);
    }
  }

}

.btn-menu{
  position: absolute;
  right: 15px;
  width: 37px;
  top:10px;
}
