@import "../../sass/variables/variables";

.navigation-top {
  .nav {
    @include make-md-column(12);
  }
  .nav-elements {
    @media (min-width: $screen-sm-min) {
      float: right;
    }
    @media (max-width: $screen-xs-max) {
      padding-left: 5px;
    }

    .element {
      float: left;
      margin: 0 7px 0 0;
      padding: 3px 0;
      color: #666;
      a {
        padding-left: 7px;
        border-left: 1px solid #E0DFDE;
        color: $coen-link;
        &:hover {
          color: $coen-red;
        }
      }
      a.readmore {
        border: none;
        padding-left: 15px;
      }
    }

    .login-menu {
      margin-top: 0px;
      margin-left: -10px;
      .element {
        float: none;
        padding: 10px 5px;
        padding-left: 10px;
        margin-left: -5px;
        margin-right: -10px;
        height: 40px;
        @include box-shadow("inset 0 -1px 0 0 lighten(#666,5%), inset 0 0px 0 0 darken(#666,10%)");

        &:first-child {
          @include box-shadow("inset 0 -1px 0 0 lighten(#666,10%), inset 0 -2px 0 0 darken(#666,10%)");
        }
        a {
          color: #fff;
          &.large {
            display: block;
            margin-top: -3px;
          }
        }
      }
    }
  }
}

header {
  &.primary {
    position: fixed;
    margin-bottom: 28px;
    width: 100%;
    top: 0px;
    z-index: 4;



    /* iphone 4S retina landscape, 3.5inch */
    @media only screen and (-webkit-min-device-pixel-ratio : 2) and (device-aspect-ratio: 2/3) and (orientation : landscape) {
      background:#FFFF00;
    }

    /* iphone 4S retina portrait, 3.5inch */
    @media only screen and (-webkit-min-device-pixel-ratio : 2) and (device-aspect-ratio: 2/3) and (orientation : portrait) {
      background:#FFFF00;
    }

    /** iphone 5 **/
    @media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
      background:#FFFF00;
    }

    /** iphone6 **/
    @media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2){
      background:#FFFF00;
    }

    /**iphone 6 plus **/
    @media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3){
      background:#FFFF00;
    }

  }

  .full-width-sm {
    height: 100%;

    /* iphone 4S retina landscape, 3.5inch */
    @media only screen and (-webkit-min-device-pixel-ratio : 2) and (device-aspect-ratio: 2/3) and (orientation : landscape) {
      top: 20px;
      position: relative;
    }

    /* iphone 4S retina portrait, 3.5inch */
    @media only screen and (-webkit-min-device-pixel-ratio : 2) and (device-aspect-ratio: 2/3) and (orientation : portrait) {
      top: 20px;
      position: relative;
    }

    /** iphone 5 **/
    @media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
      top:20px;
      position: relative;
    }

    /** iphone6 **/
    @media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2){
      top:20px;
      position: relative;
    }

    /**iphone 6 plus **/
    @media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3){
      top:20px;
      position: relative;
    }


    .row {
      margin: 0;
      padding: 0;

      &.header-container {
        background-color: $coen-header-background;

        @media (max-width: $screen-mini) {
          height: 40px;
        }

        .header-logo-container {
          background: $coen-header-background;
          float: left;

          &.right {
            float: right;
          }
        }
      }

      .header-title {
        float: left;
        height: 52px;
        margin: 0px auto;
        padding: 0px 75px;
        background: $coen-red;

        @media (max-width: $screen-phone) {
          padding: 0px 25px;
        }

        @media (max-width: $screen-mini) {
          padding: 0px 5px;
        }

        h3 {
          text-align: left;
          color: $coen-white;
          font-weight: normal;
          font-size: 16pt;
          margin: 14px 4px 14px 4px;
          text-transform: none;

          @media (max-width: $screen-phone) {
            font-size: 14pt;
            margin: 16px 4px 14px 4px;
          }
        }
      }
    }
  }
}

.btn-menu {
  position: absolute;
  right: 15px;
  width: 37px;
  top: 7px;

  @media (max-width: $screen-mini) {
    top: 7px;
    right: 3px;
  }

}