<div class="result-container">
    <div class="wrapper clearfix">

        <div class="container result">

            <div class="full-width-sm">
                <div class="row">
                    <p>Resultaat per persoon</p>

                    <div ng-if="$ctrl.person == null" class="person-container">
                        <p>Totaal aantal deelnemers: {{ $ctrl.persons.length }}</p>
                        <ul>
                            <li class="results-header">
                                <div ng-click="$ctrl.sort('name')" class="col-xs-4">
                                    <p>{{ 'results.person.name' | translate }}</p>
                                </div>
                                <div ng-click="$ctrl.sort('email')" ng-if="!$ctrl.showCode" class="col-xs-3">
                                    <p>{{ 'results.person.email' | translate }}</p>
                                </div>
                                <div ng-click="$ctrl.sort('age')" ng-if="$ctrl.showAge" class="col-xs-2">
                                    <p>{{ 'results.person.age' | translate }}</p>
                                </div>
                                <div ng-click="$ctrl.sort('city')" class="col-xs-3">
                                    <p>{{ 'results.person.city' | translate }}</p>
                                </div>
                                <div ng-click="$ctrl.sort('gender')" class="col-xs-2">
                                    <p>{{ 'results.person.gender' | translate }}</p>
                                </div>
                                <div ng-click="$ctrl.sort('code')" ng-if="$ctrl.showCode" class="col-xs-2">
                                    <p>{{ 'results.person.code' | translate }}</p>
                                </div>
                            </li>
                            <li ng-repeat="person in $ctrl.persons | orderBy : $ctrl.sortOrder" ng-click="$ctrl.setPerson(person)">
                                <div class="col-xs-4">
                                    <p ng-if="!person.name" class="unknown">{{ 'results.person.name.unknown' | translate }}</p>
                                    <p ng-if="person.name" title="{{ person.name }}">{{ person.name }}</p>
                                </div>
                                <div ng-if="!$ctrl.showCode" class="col-xs-3">
                                    <p class="col-xs-5">{{ person.email }}</p>
                                </div>
                                <div ng-if="$ctrl.showAge" class="col-xs-2">
                                    <p>{{ person.age }}</p>
                                </div>
                                <div class="col-xs-3">
                                    <p>{{ person.city }}</p>
                                </div>
                                <div class="col-xs-2">
                                    <p ng-if="person.gender == 'male'" >{{ 'results.person.gender.male' | translate }}</p>
                                    <p ng-if="person.gender == 'female'">{{ 'results.person.gender.female' | translate }}</p>
                                </div>
                                <div ng-if="$ctrl.showCode" class="col-xs-2">
                                    <p>{{ person.code }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="$ctrl.person" class="person-container">
                        <p class="col-xs-1">#{{ $ctrl.currentIndex + 1 }}</p>
                        <p ng-if="!$ctrl.person.name" class="unknown col-xs-3">Onbekend</p>
                        <p ng-if="$ctrl.person.name" class="col-xs-3" title="{{ $ctrl.person.name }}">{{ $ctrl.person.name }}</p>
                        <p ng-if="$ctrl.person.age > 0" class="col-xs-3">Leeftijd: {{ $ctrl.person.age }}</p>
                        <p class="col-xs-4">Antwoorden: {{ $ctrl.result.answers.length || 0 }}</p>
                        <p ng-if="false" class="col-xs-3">Score: {{ $ctrl.result.score.scoreCount || 0 }}</p>

                        <ul>
                            <li ng-repeat="answer in $ctrl.result.answers">
                                <p class="question">{{ answer.text }}</p>

                                <div ng-switch="answer.type">

                                    <!-- question -->
                                    <div ng-switch-when="question">
                                        <ul class="answer-menu" ng-if="answer.choices">
                                            <li ng-if="answer.answer && answer.answer == $index" ng-repeat="choice in answer.choices">
                                                <p>{{ choice }}</p>
                                            </li>
                                            <p class="col-xs-12 correct" ng-if="answer.correct">GOED</p>
                                            <p class="col-xs-12 incorrect" ng-if="!answer.correct">FOUT</p>
                                        </ul>

                                        <ul class="answer-menu" ng-if="!answer.choices">
                                            <li ng-if="answer.correct == true">
                                                <p>Ja</p>
                                            </li>
                                            <li ng-if="answer.correct == false">
                                                <p>Nee</p>
                                            </li>
                                            <p class="col-xs-12 correct" ng-if="answer.correct">GOED</p>
                                            <p class="col-xs-12 incorrect" ng-if="!answer.correct">FOUT</p>
                                        </ul>
                                    </div>

                                    <!-- statement -->
                                    <div ng-switch-when="statement">
                                        <ul class="answer-menu" ng-if="answer.choices">
                                            <li ng-if="answer.answer && answer.answer == $index" ng-repeat="choice in answer.choices">
                                                <p>{{ choice }}</p>
                                            </li>
                                        </ul>

                                        <ul class="answer-menu" ng-if="!answer.choices">
                                            <li ng-if="answer.correct == true">
                                                <p>Ja</p>
                                            </li>
                                            <li ng-if="answer.correct == false">
                                                <p>Nee</p>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- multiple -->
                                    <div ng-switch-when="multiple">
                                        <ul class="answer-menu" ng-if="answer.choices">
                                            <li ng-if="answer.answer && answer.answer == $index" ng-repeat="choice in answer.choices">
                                                <p>{{ choice }}</p>
                                            </li>
                                        </ul>

                                        <p class="col-xs-12 correct" ng-if="answer.correct">GOED</p>
                                        <p class="col-xs-12 incorrect" ng-if="!answer.correct">FOUT</p>
                                    </div>

                                    <!-- open -->
                                    <div ng-switch-when="open">
                                        <p class="answer" ng-if="answer.answer && answer.answer != '0'">{{ answer.answer }}</p>
                                        <p class="answer" ng-if="answer.submittedAnswer">{{ answer.submittedAnswer }}</p>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="button-container">
                        <button type="button" ng-csv="$ctrl.csvPersons" filename="personen.csv"
                                csv-header="$ctrl.csvHeader" field-separator=";">
                            <span>Exporteren</span>
                        </button>
                        <button ng-if="$ctrl.person && $ctrl.currentIndex > 0" type="button"
                            ng-click="$ctrl.goPrevious()"><span>Vorige</span></button>
                        <button ng-if="$ctrl.person && $ctrl.currentIndex < $ctrl.persons.length - 1" type="button"
                            ng-click="$ctrl.goNext()"><span>Volgende</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

