@import "../../sass/variables/variables";

.social-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .social {
      padding: 50px 0 50px 0;

      @media (max-width: $screen-mini) {
        padding: 60px 0 50px 0;
      }

      .full-width-sm {
        width: 100%;
        text-align: center;

        h1 {
          margin: 0 auto;
          padding: 30px 5%;
          width: 100%;
          line-height: 1.1;
          color: $coen-text-color;

          @media (max-width: $screen-mini) {
            padding: 20px 20px;
          }

          &.low {
            max-width: 780px;
            padding: 20px 18px 0px 18px;

            @media (max-width: $screen-desktop) {
              padding: 180px 18px 0px 18px;
              line-height: 1.3;
            }

            @media (max-width: $screen-mini) {
              padding: 20px 18px 0px 18px;
            }
          }
        }

        a {
          margin: 0px;
        }

        h2, h3 {
          margin: 0 auto;
          padding: 20px 10px;
          width: 100%;
          color: $coen-text-color;

          @media (max-width: $screen-phone) {
            padding: 20px 20px;
          }

          @media (max-width: $screen-mini) {
            margin: 0 auto 20px;
            padding: 20px 10px;
          }
        }

        .text-container {
          position: absolute;
          left: 0px;
          width: 100%;
          margin: 20px auto;
          padding: 0 0 120px;
          text-align: center;

          h1 {
            color: $coen-text-home-color;
          }

          h2 {
            font-family: $coen-font-light;
            color: $coen-text-home-color;
            text-align: center;
            font-size: 20pt;
            padding: 0px 50px;
            max-width: 525px;
            min-width: 525px;
            box-sizing: border-box;
          }

          p {
            color: $coen-text-home-color;
            text-align: center;
            font-size: 18pt;
          }

          a {
            color: $coen-text-home-color;

            @media (max-width: $screen-tablet) {
              font-size: 11pt;
            }

            @media (max-width: $screen-phone) {
              font-size: 9pt;
            }
          }

          @media (max-width: $screen-phone) {
            top: 360px;
            padding: 0 0 120px;
            width: auto;
            left: 0;

            h2 {
              font-size: 17pt;
              padding: 0 20px;
              width: 100%;
              max-width: 100%;
              min-width: 100%;
              box-sizing: border-box;
            }

            p {
              font-size: 12pt;
            }
          }

          @media (max-width: $screen-mini) {

            h2 {
              font-size: 14pt;
              padding: 0 25px;
            }

            p {
              font-size: 10pt;
            }
          }

          &.full {
            top: 160px;

            @media (max-width: $screen-phone) {
              top: 60px;
            }

            h2 {
              max-width: 100%;
              width: 100%;
              text-align: left;
              padding: 10px 5%;
            }
          }
        }
      }

    }
  }
}