<div class="social-container">
    <div class="wrapper clearfix">
        <div class="container social">
            <div class="full-width-sm">
                <div class="row background">
                    <div class="text-container full">
                        <h1>{{ 'result.intro.teaser.text' | translate }}</h1>

                        <div class="logo-sponsor"></div>

                        <h2 class="low"><text-format text="'result.intro.share.text' | translate"></text-format></h2>
                        <social-share menu="$ctrl.menu"></social-share>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

