<div id="page-holder" ng-class="$ctrl.routeClass">
    <header-component></header-component>
    <div ng-view></div>
    <popup-feature src="'html/pages/popup.html'"></popup-feature>
    <footer-component></footer-component>
</div>