<div class="toggle-question" ng-class="{'no-icon': !question.icon}">
    <div ng-show="!important && question.icon" icon-font icon-class="{{ question.icon }}" class="icon-info" ng-class="[activeClass]"></div>
    <div ng-show="important && question.icon" icon-font icon-class="{{ question.icon }}" class="icon-field" ng-class="[activeClass]"></div>
    <div class="question" ng-class="importantClass">
        <div ng-show="!isOpen" class="btn-question">
            <h3 ng-click="toggleQuestion()">{{ question.question | translate }}</h3>
        </div>
        <div ng-show="isOpen" class="btn-answer">
            <h3 ng-click="toggleQuestion()">{{ question.question | translate }}</h3>
            <p ng-show="question.answer">{{ question.answer | translate }}</p>
            <input type="text" ng-show="question.value === ''" ng-model="fieldValue">
        </div>
    </div>
</div>

