<div class="votes">
    <div class="row">
        <div class="total"></div>
        <div class="percentage" ng-style="{width: profile.userPercentage + '%'}"></div>
        <p ng-style="{'left': profile.userPercentage + '%'}">{{ profile.userCount }}</p>
    </div>
</div>	

