<div class="nav">
    <div class="wrapper clearfix">
        <div class="social-wrapper">
            <div class="share-title pull-left"><h3>{{ getTitleForMenu() }}</h3></div>
            <div icon-font icon-class="icon-facebook" ng-click="shareFacebook()"></div>
            <div icon-font icon-class="icon-twitter" ng-click="shareTwitter()"></div>
            <div icon-font icon-class="icon-email" ng-click="shareEmail()"></div>
            <!--<div class="btn-whatsapp"></div>-->
        </div>
    </div>
</div>	

