<div class="statement">

    <div class="image-container" image-thumb image-id="answer.questionId" image-url="parseImageUrl(answer.questionId)"></div>
    <div class="gradient-container"></div>

    <div ng-switch="answer.type">
        <div ng-switch-when="statement">
            <div class="text-container"><h1>{{ answer.text }}</h1></div>
        </div>
        <div ng-switch-when="multiple">
            <div class="text-container"><h1>{{ answer.text }}</h1></div>

            <ul>
                <li class="jtinder-answer" ng-repeat="choice in answer.choices" ng-click="selectAnswer(answer, $index)">
                    <h2 class="jtinder-answer" ng-class="{'selected': $index == currentAnswer}">{{ choice }}</h2>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="answer.correct != undefined" class="popup-container">
        <div class="wrapper">
            <div class="popup">
                <div toggle-info info="info" type="description"></div>
            </div>
        </div>
    </div>
</div>