<div class="form-upload-container" >
    <!-- The file upload form used as target for the file upload widget -->
    <!--<form id="fileupload" action="{{ uploadUrl }}" method="post" enctype="multipart/form-data" target="_blank">
        &lt;!&ndash; Redirect browsers with JavaScript disabled to the origin page
        <noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>&ndash;&gt;
        &lt;!&ndash; The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload &ndash;&gt;
        <div class="fileupload-buttonbar">
            <div>
                <input id="file_select" type="file" name="uploaded_file">
            </div>
            &lt;!&ndash; The global progress information &ndash;&gt;
            <div class="span5 fileupload-progress fade">
                &lt;!&ndash; The global progress bar &ndash;&gt;
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:110px; height:10px;">
                    <div class="bar" style="width:0%;" ng-style="{width : ( getPercentage() + '%' ) }"></div>
                </div>
                &lt;!&ndash; The extended global progress information
                <div class="progress-extended">&nbsp;</div> &ndash;&gt;
            </div>
        </div>
        &lt;!&ndash; The loading indicator is shown during file processing &ndash;&gt;
        <div class="fileupload-loading"></div>
        <br>
        &lt;!&ndash; The table listing the files available for upload/download
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table> &ndash;&gt;
    </form>-->

    <form enctype="multipart/form-data" action="{{ uploadUrl }}" method="post" target="_blank">
        <input type="file" accept=".jpg, .png" name="uploaded_file">
        <button ng-click="refreshPage()">Uploaden</button>
    </form>

</div>