<div class="votes">
    <div class="count-container" ng-class="{right: (numberOfCoolPeople == numberOfScores)}" ng-style="{left: votePercentage + '%'}">
        <div class="count-people"><h3>{{ active ? numberOfCoolPeople : numberOfScores }}</h3></div>
        <div class="icon-people" ng-class="{right: (numberOfCoolPeople == numberOfScores)}"></div>
    </div>
    <div class="row">
        <div class="total"></div>
        <div class="percentage" ng-style="{width: votePercentage + '%'}"></div>
    </div>
</div>	

