@import "../../sass/variables/variables";

.result-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .low {
    margin-top: 60px !important;
  }

  .wrapper {
    width: 100%;

    .result {
      width: 100%;
      padding: 105px 0 0;

      &.no-padding {
        padding: 105px 0 0 0;
      }

      .full-width-sm {
        width: 100%;
        text-align: center;
        box-sizing: border-box;

        .row {
          position: relative;
          width: 100%;
          margin: 0px auto;
          padding: 5px;

          h2 {
            margin: 30px;
            padding: 0px;
            color: $coen-icon-background;
            text-align: center;
          }

          h3 {
            margin: 20px;
            padding: 0px;
          }

          &.scores {
            padding-bottom: 100px;
            @include linear-background($spov-background-green, $spov-background-orange);

            .result-block {
              float: left;
              width: 100%;
              padding: 0px 40px 20px;
            }
          }
        }
      }
    }
  }
}
