<div class="toggle-info-container" ng-show="$ctrl.showInfo" custom-scroll>
    <div ng-if="$ctrl.info.correct == undefined">
        <icon-font ng-click="$ctrl.close()" icon-class="icon-close" class="pull-right"></icon-font>

        <text-format text="$ctrl.info.description" class="info"></text-format>
    </div>

    <div ng-if="$ctrl.info.correct != undefined">
        <div class="title">
            <!--<div ng-if="info.correct" icon-font icon-class="icon-correct"></div>
            <div ng-if="!info.correct" icon-font icon-class="icon-incorrect"></div>-->
            <h1 ng-if="$ctrl.showCorrectInfo">{{ info.correct ? 'Goed' : 'Fout' }}</h1>
        </div>
        <text-format text="$ctrl.info.description | translate" class="question"></text-format>
    </div>

</div>

