@import "../../sass/variables/variables";

.toggle-question {
  display: inline-block;
  float: left;
  width: 100%;

  &.no-icon {
    width: 100%;
    padding: 15px 20px 20px 20px;

    @media (max-width: $screen-phone) {
      padding: 10px 25px;
    }

    .question,
    .answer {
      width: 100% !important;

      @media (max-width: $screen-phone) {
        float: none;
      }

      @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
        float: none;
      }

      .btn-question,
      .btn-answer {
        width: 100% !important;
        cursor: pointer;

        @media (max-width: $screen-tablet) {
          float: none;
        }
      }

      .btn-question {
        height: auto;

        @media (max-width: $screen-desktop) {
          float: none;
        }

        @media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
          min-height: 140px;
        }
      }
    }
  }

  .icon-field,
  .icon-info {
    float: left;
    margin-right: 30px;

    @media (max-width: $screen-phone) {
      margin-right: 5px;
      margin-left: 10px;
    }

    .icon {
      margin: 3px 0;
    }
  }

  .question {
    float: left;
    margin: 0px auto;
    width: 80%;
    width: calc(100% - 90px);

    @media (max-width: $screen-phone) {
      margin-left: 10px;
    }

    .btn-question {
      width: 100%;
      padding: 15px 20px 20px 20px;
      border: 3pt solid $coen-text-icon-color-active;
      background: $coen-question-background;
      @include coen-border-radius($coen-question-border-radius);

      h3 {
        cursor: pointer;
        color: $coen-text-color;
        text-transform: uppercase;
        text-align: left;
        font-size: 14pt;
        line-height: 24pt;
        font-weight: 900;
        margin: 0;
        padding: 0;

        @media (max-width: $screen-tablet) {
          font-size: 12pt;
        }

        @media (max-width: $screen-mini) {
          font-size: 10pt;
          line-height: 1.6;
          word-wrap: break-word;
        }
      }
    }

    .btn-answer {
      width: 100%;
      background: $coen-text-icon-color-active;
      padding: 16px 20px 10px 20px;
      border: 3px solid $coen-text-icon-color-active;
      @include coen-border-radius($coen-question-border-radius);

      h3 {
        cursor: pointer;
        color: $coen-darkgrey;
        text-transform: uppercase;
        text-align: left;
        font-size: 14pt;
        line-height: 24pt;
        font-weight: 900;
        margin: 0;
        padding: 0;

        @media (max-width: $screen-tablet) {
          font-size: 12pt;
        }

        @media (max-width: $screen-mini) {
          font-size: 10pt;
          line-height: 1.6;
          word-wrap: break-word;
        }
      }

      p {
        cursor: pointer;
        font-family: $coen-font-light;
        color: $coen-darkgrey;
        text-transform: none;
        text-align: left;
        font-size: 11pt;
        margin: 0px;
        padding: 10px 0px;

        a {
          color: $coen-darkgrey;
          text-transform: none;
          font-size: 11pt;
        }
      }

      input[type="text"] {
        width: 100%;
        margin: 20px auto;
        padding: 4px 0px;
        background: none;
        color: $coen-darkgrey;
        text-transform: uppercase;
        font-size: 13pt;
        font-weight: 900;
        box-shadow: none;
        border: none;
        border-top: 3px solid $coen-darkgrey;
        border-bottom: 3px solid $coen-darkgrey;
      }
    }

    &.important {

      @media (max-width: $screen-phone) {
        margin: 0px auto;
      }

      .btn-question {
        background: $coen-background;
        border: 3px solid $coen-white;

        h3 {
          color: $coen-white;
        }
      }

      .btn-answer {
        background: $coen-background;
        border: 3px solid $coen-white;

        h3 {
          color: $coen-white;
        }

        p {
          color: $coen-white;
        }
      }
    }

  }

  &.question-red {
    margin: 0px 20px;
    width: auto;

    .icon-field {
      display: none;
    }

    .question {

      &.important {

        .btn-question {
          background: $coen-darkgrey;
          border: 3px solid $coen-red;

          h3 {
            color: $coen-red;
          }
        }
      }
    }
  }
}