<div class="toggle-question" ng-class="{'no-icon': !$ctrl.question.icon}">
    <icon-font ng-show="!$ctrl.important && $ctrl.question.icon" icon-class="{{ $ctrl.question.icon }}"
        class="icon-info" ng-class="[$ctrl.activeClass]"></icon-font>
    <icon-font ng-show="$ctrl.important && $ctrl.question.icon" icon-class="{{ $ctrl.question.icon }}"
        class="icon-field" ng-class="[$ctrl.activeClass]"></icon-font>

    <div class="question" ng-class="$ctrl.importantClass">
        <div ng-show="!$ctrl.isOpen" class="btn-question" ng-click="$ctrl.toggleQuestion()">
            <h3>{{ $ctrl.question.question | translate }}</h3>
        </div>
        <div ng-show="$ctrl.isOpen" class="btn-answer" ng-click="$ctrl.toggleQuestion()">
            <h3>{{ $ctrl.question.question | translate }}</h3>
            <p ng-show="$ctrl.question.answer">{{ $ctrl.question.answer | translate }}</p>
            <input type="text" ng-show="$ctrl.question.value === ''" ng-model="$ctrl.fieldValue">
        </div>
    </div>
</div>

