@import "../../sass/variables/variables";

profile-score {
  float: left;
  width: 100%;
  text-align: left;
  padding: 15px 20px 20px 20px;
  border: 3pt solid $coen-text-icon-color-active;
  background: $coen-question-background;
  @include coen-border-radius($coen-question-border-radius);

  @media (min-width: $screen-desktop) {
    //max-width: 1000px;
  }

  .votes {
    position: relative;
    float: left;
    width: 100%;
    min-height: 16px;
    margin: 5px 0px;
    padding: 0px;

    .row {
      width: 100%;
      margin: 0px auto;
      padding: 0;

      .total {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 16px;
        margin: 0 auto;
        background-color: $coen-percentage-background;
      }

      .percentage-container {
        position: relative;
        float: left;
        height: 16px;
        @include make-sm-column(9);

        @media (max-width: $screen-tablet) {
          @include make-sm-column(12);
        }

        &.multiple {
          @include make-sm-column(12);
        }

        .percentage {
          position: absolute;
          left: 0;
          top: 5px;
          height: 16px;
          margin: 0 auto;
          background-color: $coen-percentage;
        }
      }

      span, p {
        float: left;
        color: $coen-text-percentage-color;
        padding-left: 6px;
        font-size: 16pt;

        @media (max-width: $screen-tablet) {
          font-size: 11pt;
        }

        &.title {
          @include make-sm-column(3);

          @media (max-width: $screen-tablet) {
            @include make-sm-column(12);
          }

          &.statement {
            text-transform: uppercase;
          }

          &.multiple,
          &.open {
            @include make-sm-column(12);
          }
        }

        &.text {
          @include make-sm-column(9);
          font-weight: 900;

          @media (max-width: $screen-tablet) {
            @include make-sm-column(12);
          }
        }

        &.percentage-text {
          position: absolute;
          font-size: 14pt;
          text-transform: none;
          font-weight: 900;
        }
      }
    }
  }
}

